<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div class="br-notification" :class="{ show: isOpen }" v-if="isOpen">
    <div class="notification-header">
      <div class="row">
        <div class="col-10">
          <span class="text-bold">{{ title }}</span
          ><br />
          <small
            ><a>{{ subtitle }}</a></small
          >
        </div>
      </div>
    </div>
    <div class="notification-body">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: "br-notification",
  props: {
    /**
     * **[OBRIGATÓRIO]** Título da lista de notificações.
     * */
    title: {
      type: String,
      required: true,
    },
    /**
     * **[OPCIONAL]** Subtítulo da lista de notificações.
     * */
    subtitle: {
      type: String,
    },
  },
  data() {
    return {
      isOpen: true,
    };
  },
};
</script>

<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/notification/_notification";
@import "~@govbr/dsgov/src/components/tag/_tag";

.dropdown [data-toggle="dropdown"] + br-notification {
  --notification-background: var(--color-secondary-01);
  --notification-shadow: 0 3px 6px rgba(var(--rgb-secondary-09), 0.16);
  --notification-padding: var(--spacing-scale-2x) var(--spacing-scale-4x);
  --notification-width: 50vw;
  --notification-height: 100vh;
  --notification-tab: var(--font-size-scale-down-01);
  background: var(--notification-background);
  box-shadow: var(--notification-shadow);
  max-height: var(--notification-height);
  max-width: var(--notification-width);
  overflow: auto;
  z-index: 1;
  contain: paint;
  display: block;
  right: -16px;
  width: 100vw;
  left: auto;
}
</style>
