<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div
    class="br-input"
    :class="[
      {
        info: state === 'info',
        warning: state === 'warning',
        danger: state === 'danger',
        success: state === 'success',
        large: density === 'large',
        medium: density === 'medium',
        small: density === 'small',
        'input-button': ispassword || icon,
      },
    ]"
  >
    <label v-if="label" :for="[id ? id : ' ']">{{ label }}</label>
    <input
      v-bind="$attrs"
      :id="id"
      :type="inputType"
      :autofocus="autofocus"
      :disabled="disabled"
      :placeholder="placeholder"
    />
    <br-button
      ref="brinputIcon"
      v-if="ispassword"
      :icon="pswIcon"
      circle
      density="small"
      @click="toggleIcon()"
    >
    </br-button>
    <br-button v-if="icon" :icon="icon" circle density="small"></br-button>
  </div>
</template>

<script>
import BrButton from "../Button/Button.ce.vue";

export default {
  name: "BrInput",
  inheritAttrs: false,
  components: {
    BrButton,
  },
  props: {
    /**
     * **[OPCIONAL]** Indicando que tipo de informação deverá ser digitada no Campo de Texto.
     */
    label: {
      type: [String, Number],
      validator: function (value) {
        return value.length > 0;
      },
    },
    /**
     * **[OPCIONAL]** Tem a função de auxiliar o usuário em como preencher os dados solicitados. Obrigatoriamente deverá trazer uma informação mais completa que a contida no Rótulo/Label.
     */
    placeholder: {
      type: String,
      validator: function (value) {
        return value.length > 0;
      },
    },
    /**
     * **[OPCIONAL]** Quando a página é carregada o elemento deve receber automaticamente o foco.
     */
    autofocus: {
      default: false,
      type: Boolean,
    },
    /**
     * **[OPCIONAL]** Ocorre quando o Input está desabilitado temporariamente para o uso. Neste caso, ele se apresenta com uma opacidade menor, o cursor do Mouse muda de forma e não tem ação sobre o campo.
     */
    disabled: {
      default: false,
      type: Boolean,
    },
    /**
     * **[OPCIONAL]** Estado no qual o Componente Input se apresenta **[ success | danger | info | warning ]**.
     */
    state: {
      type: String,
      default: "",
      // validator: function(value) {
      //     return ['info', 'warning', 'danger', 'success'].includes(value);
      // }
    },
    /**
     * **[OPCIONAL]** Tem relação direta com as dimensões de altura do Campo de Entrada de Texto. Padrão é o medium **[ large | medium | small]**.
     */
    density: {
      type: String,
      default: "medium",
      validator: function (value) {
        return ["large", "medium", "small"].includes(value);
      },
    },
    /**
     * **[OPCIONAL]** Serve para auxiliar o usuário em função de alguma ação referente ao Campo de Entrada de Texto. Por exemplo, a opção de visualizar/ocultar senha (icon = "fa-eye").
     */
    icon: {
      type: String,
      validator: function (value) {
        return value.length > 0;
      },
    },
    ispassword: {
      type: Boolean,
      default: false,
    },
    /**
     * **[OPCIONAL]** Recomenda-se a inclusão do atributo **id** no input, responsável também pela inclusão automática do atributo **for** do label (importante para especificar a qual elemento do formulário o label está vinculado).
     */
    id: {
      type: [String],
      validator: function (value) {
        return value.length > 0;
      },
    },
  },
  data() {
    return {
      pswIcon: "eye-slash",
      pswType: "password",
    };
  },
  computed: {
    inputType: function () {
      if (!this.ispassword) {
        return this.$attrs.type ? this.$attrs.type : "text";
      } else {
        return this.pswType;
      }
    },
  },
  methods: {
    toggleIcon() {
      if (this.pswIcon === "eye-slash") {
        this.pswIcon = "eye";
        this.pswType = "text";
      } else if (this.pswIcon === "eye") {
        this.pswIcon = "eye-slash";
        this.pswType = "password";
      }
    },
  },
};
</script>

<style lang="scss">
@import "@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/input/_input";
@import "~@govbr/dsgov/src/components/button/_button";
</style>
