/*
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 */
@mixin menu-submenu {

  .submenu-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.submenu-container.selected-submenu {
  background: white;
  position: absolute;
  width: 100%;
  height: 220px;
  top: 0;
  left: 0;
}

.submenu-container.selected-submenu > .submenu-container__legend {
  flex-direction: row-reverse;
  justify-content: flex-end;
  color: #0c326f;
}
.selected-submenu
  > .submenu-container__legend
  > .submenu-container__legend_collapse {
  margin-right: 10px;
}

.submenu-container__list-legend,
.submenu-container__legend {
  display: flex;
  justify-content: space-between;
  align-content: center;
  cursor: pointer;
  color: #1351b4;
  margin: 0;
  padding: 16px;
}

.submenu-container__legend:hover,
.submenu-container__list-legend:hover {
  background-image: linear-gradient(
    rgba(19, 81, 180, 0.45),
    rgba(19, 81, 180, 0.45)
  );
}

.submenu-container__legend:active,
.submenu-container__list-legend:active {
  background-image: linear-gradient(
    rgba(19, 81, 180, 0.16),
    rgba(19, 81, 180, 0.16)
  );
}

.submenu-container__legend_collapse {
  --color-primary-default: #1351b4;
  color: var(--color-primary-default);
}

.submenu-container__list {
  list-style-type: none;
  padding: 0;
  flex: 1;
  margin: 0;
  background-color: #f8f8f8;
}

}