<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div class="menu">
    <div class="menu-button"> 
      <br-button v-if="displayMenu" circle icon="times" @click="toggleMenu"></br-button>
      <br-button v-else circle icon="bars" @click="toggleMenu"></br-button>
     </div>
    <div class="menu-container" v-show="displayMenu" @click.capture="log">
      <nav class="menu-container__content">
        <section
          v-for="(list, key) in menu"
          :key="key + list.length"
          class="menu-container__row"
        >
          <div
            class="menu-container__row-label first-level"
            @click.capture="list.display = !list.display"
          >
            <span class="menu-container__row-label__text first-level">{{
              key
            }}</span>
            <button
              v-show="Array.isArray(list) && list.length > 1"
              class="menu-container__row-label__collapse first-level" icon="angle-up"
            >
              <font-awesome-icon
                v-if="list.display"
                class="first-level"
                icon="angle-up"
                size="lg"
                aria-hidden="true"
              />
                <font-awesome-icon
                v-else
                class="first-level"
                icon="angle-down"
                size="lg"
                aria-hidden="true"
              />
            </button>
          </div>
          <ul v-show="list.display" class="menu-container__row-submenu">
            <li
              v-for="(item, index) in list"
              :key="item + index"
              class="menu-container__row-submenu__item"
            >
              <sub-menu v-if="typeof item === 'object'" :submenu="item" />
              <p v-else class="menu-container__row-submenu__item-legend">
                {{ item }}
              </p>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <aside class="sidebar">
      <slot name="menu-addons"></slot>
    </aside>
  </div>
</template>

<script>
import FontAwesomeIcon from "../../font-awesome-share";
import SubMenu from "./SubMenu.vue";
const SELECTED_CLASS = "selected-submenu";
const CLOSE_UP_CLASS = "closeup-mode";
const SUBMENU_CONTAINER = "submenu-container";

const selectedElements = [];

export default {
  name: "Menu",
  components: {
   FontAwesomeIcon,
   SubMenu
  },
  props: {
    /**
     * Exibe o menu ao carregar a pagina.
     */
    showMenu: Boolean,
    /**
     * Recebe uma string no formato JSON ou um Objeto. Para webcomponents é necessário ser tipo String.
     */
    list: [String, Object],
  },
  data() {
    return {
      displayMenu: this.showMenu,
      menu: typeof this.list === "string" ? JSON.parse(this.list) : this.list,
    };
  },
  methods: {
    toggleMenu() {
      this.displayMenu = !this.displayMenu;
    },
    log({ target }) {
      const topEl = this.$el.querySelector(".menu-container");

      if (target.matches(".first-level")) {
        topEl.classList.remove(CLOSE_UP_CLASS);
      } else {
        const isCloseUp = topEl.classList.contains(CLOSE_UP_CLASS);
        const antecedentSelected = target.closest("." + SELECTED_CLASS);
        const len = selectedElements.length;
        const rowEl = target.closest("." + SUBMENU_CONTAINER);

        if (!isCloseUp) {
          topEl.classList.add(CLOSE_UP_CLASS);
        }
        if (antecedentSelected) {
          if (
            selectedElements.length &&
            antecedentSelected === selectedElements[len - 1]
          ) {
            if (rowEl === antecedentSelected) {
              selectedElements.pop().classList.remove(SELECTED_CLASS);
              if (selectedElements.length) {
                selectedElements[selectedElements.length - 1].classList.add(
                  SELECTED_CLASS
                );
              }
            } else {
              antecedentSelected.classList.remove(SELECTED_CLASS);
              rowEl.classList.add(SELECTED_CLASS);
              selectedElements.push(rowEl);
            }
          } else if (antecedentSelected === selectedElements[len - 2]) {
            selectedElements.pop().classList.remove(SELECTED_CLASS);
          } else {
            if (selectedElements.length) {
              selectedElements.pop().classList.remove(SELECTED_CLASS);
            }
            rowEl.classList.add(SELECTED_CLASS);
            selectedElements.push(rowEl);
          }
        } else if (rowEl) {
          rowEl.classList.add(SELECTED_CLASS);
          selectedElements.push(rowEl);
        }
        if (selectedElements.length === 0 && isCloseUp)
          topEl.classList.remove(CLOSE_UP_CLASS);
      }
    },
  },
};
</script>


<style lang="scss">
@import "~@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/menu/_menu";
@import "./submenu";

:host {
  @include menu-submenu;
}

.menu-container {
  position: absolute;
  background: #fff;
  max-height: 50vh;
  min-width: 25vw;
  overflow: auto;
  box-shadow: var(--surface-shadow-sm);
}

.closeup-mode {
  overflow: clip;
}

.menu-container__row {
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: unset;
  min-height: unset;
  height: unset;
}

.menu-container__row-label:hover,
.menu-container__row-submenu__item:hover {
  background-image: linear-gradient(
    rgba(19, 81, 180, 0.16),
    rgba(19, 81, 180, 0.16)
  );
}

.menu-container__row-label:hover,
.menu-container__row-submenu__item:active {
  background-image: linear-gradient(
    rgba(19, 81, 180, 0.45),
    rgba(19, 81, 180, 0.45)
  );
}

.menu-container__row-label {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menu-container__row-label__text {
  color: #1351b4;
}

.menu-container__row-label__collapse {
  --color-primary-default: #1351b4;
  --button-medium: 40px;
  --interactive: var(--color-primary-default);
  --button-size: var(--button-medium);
  --button-color: var(--interactive);
  height: var(--button-size);
  width: var(--button-size);
  color: var(--button-color);
  appearance: none;
  background: none;
  border: none;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.menu-container__row-label:hover {
  background-image: linear-gradient(
    rgba(19, 81, 180, 0.16),
    rgba(19, 81, 180, 0.16)
  );
}

.menu-container__row-label:active {
  background-image: linear-gradient(
    rgba(19, 81, 180, 0.45),
    rgba(19, 81, 180, 0.45)
  );
}

.menu-container__row-submenu {
  list-style-type: none;
  padding: 0;
  background-color: rgb(248, 248, 248);
  margin: 0;
}

.menu-container__row-submenu__item-legend {
  cursor: pointer;
  margin: 0;
  padding: 16px;
  color: #1351b4;
}

button {
  --font-size-scale-up-01: 16.8px;
  --button-font-size: var(--font-size-scale-up-01);
  --button-color: #1351b4;
  --button-xsmall: 24px;
  --button-small: 32px;
  --button-medium: 40px;
  --button-large: 48px;
  --button-size: var(--button-medium);
}

.circle {
  border-radius: 50%;
  width: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.default {
  padding: 0px 10px;
  border: 1px solid transparent;
  border-radius: 25px;
  color: var(--button-color);
  cursor: pointer;
  font-size: var(--button-font-size);
  min-width: 40px;
  position: relative;
  height: 38px;
  margin: 2px;
  font-weight: 600;
}
</style>
