<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div class="submenu-container">
    <p class="submenu-container__legend" @click="toggleSubmenu()">
      <span>{{ text }}</span>
      <font-awesome-icon
        v-if="display"
        class="submenu-container__legend_collapse"
        icon="angle-left"
        aria-hidden="true"
      />
      <font-awesome-icon
        v-else
        class="submenu-container__legend_collapse"
        icon="angle-right"
        size="lg"
        aria-hidden="true"
      />
    </p>
    <ul v-show="display" class="submenu-container__list">
      <li
        v-for="(item, index) in list"
        :key="index"
        :id="getComponentId + '-' + index"
        class="submenu-container__list-row"
      >
        <SubMenu v-if="typeof item === 'object'" :submenu="item" />
        <span class="submenu-container__list-legend" v-else
          ><a>{{ item }}</a></span
        >
      </li>
    </ul>
  </div>
</template>

<script>
import FontAwesomeIcon from "../../font-awesome-share";

export default {
  name: "SubMenu",
  components: {
    FontAwesomeIcon,
  },
  props: {
    submenu: Object,
  },
  data() {
    const { text, list } = this.submenu;
    return {
      text,
      list,
      display: false,
    };
  },
  computed: {
    getComponentId() {
      return "vue-component-3-SubMenu";
    },
  },
  methods: {
    toggleSubmenu() {
      this.display = !this.display;
    },
  },
};
</script>

<style lang="scss">
@import "~@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/menu/_menu";
</style>
