<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div
    class="br-list"
    :class="{ horizontal: horizontal }"
    role="list"
    :data-toggle="dataToggle"
    :data-unique="dataUnique"
  >
    <div v-if="title" class="header">
      <div class="title">{{ title }}</div>
    </div>
    <br-divider v-if="title"></br-divider>
    <slot />
  </div>
</template>

<script>
// import BrDivider from "../Divider/Divider.ce.vue";
// import BRList from "./BRList";

export default {
  name: "br-list",
  // components: {
  //   BrDivider,
  // },
  props: {
    /**
     * **[OPCIONAL]** Título da lista.
     * */
    title: {
      type: String,
    },
    /**
     * **[OPCIONAL]** Indica se a lista será horizontal. Por padrão, a lista é vertical.
     * */
    horizontal: {
      type: Boolean,
      default: false,
    },
    /**
     * **[OPCIONAL]** Ativa a lista expansiva, onde os \<br-item\> filhos abrem/fecham ao clicá-los.
     * */
    dataToggle: {
      type: Boolean,
      default: false,
    },
    /**
     * **[OPCIONAL]** Ativa a abertura de um \<br-item\> da lista por vez quando a mesma é data-toggle.
     * */
    dataUnique: {
      type: Boolean,
      default: false,
    },
    /**
     * TODO: documentação
     * */
    checkable: {
      type: Boolean,
      default: false,
    },
  },
  provide() {
    return {
      parentList: this,
    };
  },
  data() {
    return {
      items: [],
    };
  },
  methods: {
    closeAllItems() {
      if (this.items && this.items.length) {
        this.items.forEach((item) => (item.isOpen = false));
      }
    },
    isDataToggle() {
      return this.dataToggle;
    },
    isDataUnique() {
      return this.dataUnique;
    },
    getItems() {
      return this.items;
    },
  },
};
</script>

<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/list/_list";
// @import "~@govbr/dsgov/src/components/divider/_divider";

.br-list br-item[open] + br-list .br-list {
  max-height: 200em;
}
</style>
