<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div
    class="br-switch"
    :class="[
      {
        icon: icon,
        top: top,
        right: right,
        large: size === 'large',
        small: size === 'small',
      },
    ]"
  >
    <input :id="id" type="checkbox" v-model="isChecked" :disabled="disabled" />
    <label :for="id">
      <slot>{{ label }}</slot>
    </label>
    <div
      v-if="labelChecked && labelNotChecked"
      class="switch-data"
      :data-enabled="labelChecked"
      :data-disabled="labelNotChecked"
    ></div>
  </div>
</template>

<script>
export default {
  name: "br-switch",
  props: {
    checked: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    icon: {
      type: Boolean,
      default: false,
    },
    size: {
      type: String,
      validator: function (value) {
        return ["large", "small"].includes(value);
      },
    },
    label: {
      type: String,
    },
    labelChecked: {
      type: String,
    },
    labelNotChecked: {
      type: String,
    },
    /** Label localizado acima do switch */
    top: {
      type: Boolean,
      default: false,
    },
    /** Label localizado a direita do switch */
    right: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isChecked: this.checked,
      id: "br-switch-input-" + this._.uid,
    };
  },
};
</script>

<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/switch/_switch";
</style>
