<!--
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Breadcrumb -->
<div>
  <h2>Breadcrumb</h2>
  <br-breadcrumb title="Testes">
    <br-breadcrumb-crumb label="Início" home></br-breadcrumb-crumb>
    <br-breadcrumb-crumb label="Funcionalidade X"></br-breadcrumb-crumb>
    <br-breadcrumb-crumb
      label="DSGov"
      target="_blank"
      href="https://dsgov.estaleiro.serpro.gov.br/"
    >
    </br-breadcrumb-crumb>
    <br-breadcrumb-crumb label="Testes" active></br-breadcrumb-crumb>
  </br-breadcrumb>
  <br />
  <br-breadcrumb title="Testes">
    <br-breadcrumb-crumb label="Início" home></br-breadcrumb-crumb>
    <br-breadcrumb-crumb label="Página Ancestral 01"></br-breadcrumb-crumb>
    <br-breadcrumb-crumb label="Página Ancestral 02"></br-breadcrumb-crumb>
    <br-breadcrumb-crumb label="Página Ancestral 03"></br-breadcrumb-crumb>
    <br-breadcrumb-crumb
      label="Página Ancestral Com Título Grande"
    ></br-breadcrumb-crumb>
  </br-breadcrumb>
</div>
