<!--
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Button -->
<div>
  <h2>Button</h2>
  <br-button
    label="Primário"
    type="primary"
    icon="home"
    class="mt-5"
  ></br-button>
  <br-button
    label="Secondary"
    type="secondary"
    icon="times"
    class="mt-5"
  ></br-button>
  <br-button
    label="Tertiary"
    type="tertiary"
    icon="home"
    class="mt-5"
  ></br-button>

  <p class="h5 pt-5">Ênfase</p>
  <div>
    <br-button label="Primario" type="primary" icon="home"></br-button>
    <br-button label="Secundario" type="secondary" icon="city"></br-button>
    <br-button label="Terciario" type="tertiary" icon="city"></br-button>

    <div class="mt-3">
      <br-button circle label="Primario" type="primary" icon="car"></br-button>
      <br-button
        circle
        label="Secundario"
        type="secondary"
        icon="city"
      ></br-button>
      <br-button
        circle
        label="Terciario"
        type="tertiary"
        icon="car"
      ></br-button>
    </div>

    <p class="h5 mt-5">Fundo escuro</p>
    <div class="p-3 bg-primary-darken-02">
      <div>
        <br-button
          inverted
          label="Primario"
          type="primary"
          icon="city"
        ></br-button>
        <br-button
          inverted
          label="Secundario"
          type="secondary"
          icon="city"
        ></br-button>
        <br-button
          inverted
          label="Terciario"
          type="tertiary"
          icon="city"
        ></br-button>
      </div>
      <div class="mt-3">
        <br-button
          circle
          inverted
          label="Primario"
          type="primary"
          icon="city"
        ></br-button>
        <br-button
          circle
          inverted
          label="Secundario"
          type="secondary"
          icon="city"
        ></br-button>
        <br-button
          circle
          inverted
          label="Terciario"
          type="tertiary"
          icon="city"
        ></br-button>
      </div>
    </div>
    <p class="h5 mt-5">Densidade</p>
    <div>
      <br-button label="Large" type="secondary" density="large"></br-button>
      <br-button label="Middle" type="secondary" density="middle"></br-button>
      <br-button label="Small" type="secondary" density="small"></br-button>
      <br-button label="XSmall" type="secondary" density="xsmall"></br-button>
    </div>
    <div class="mt-3">
      <br-button
        circle
        type="secondary"
        density="large"
        icon="city"
      ></br-button>
      <br-button
        circle
        type="secondary"
        density="middle"
        icon="city"
      ></br-button>
      <br-button
        circle
        type="secondary"
        density="small"
        icon="city"
      ></br-button>
      <br-button
        circle
        type="secondary"
        density="xsmall"
        icon="city"
      ></br-button>
    </div>

    <p class="h5 mt-5">Estados</p>
    <br-button label="Desativado" type="secondary" disabled></br-button>
    <div class="mt-3 mt-sm-0 d-sm-inline-block ml-sm-3">
      <br-button label="Ativado" type="secondary" active></br-button>
    </div>

    <div class="mt-3 mt-sm-0 mb-3 d-sm-inline-block ml-sm-3">
      <br-button type="secondary" loading> Carregando </br-button>
    </div>
  </div>
</div>
