<!--
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Card -->
<div>
  <h2>Card</h2>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <br-card>
      <br-card-header slot="header">
        <div class="d-flex">
          <br-avatar imgSrc="https://picsum.photos/id/823/400"></br-avatar>
          <div class="ml-3">
            <p class="h5 text-primary-default mb-0">Maria Amorim</p>
            <span>UX Designer</span>
          </div>
          <div class="ml-auto">
            <br-button circle icon="ellipsis-v"></br-button>
          </div>
        </div>
      </br-card-header>
      <br-card-content slot="content">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore
          perferendis nam porro atque ex at, numquam non optio ab eveniet error
          vel ad exercitationem, earum et fugiat recusandae harum? Assumenda.
        </p>
      </br-card-content>
      <br-card-footer slot="footer">
        <div class="d-flex">
          <div>
            <br-button label="Button"></br-button>
          </div>
          <div class="ml-auto">
            <br-button circle icon="share-alt"></br-button>
            <br-button circle icon="heart"></br-button>
          </div>
        </div>
      </br-card-footer>
    </br-card>
  </div>
  <h4>Card Desabilitado</h4>
  <div class="col-sm-6 col-md-5 col-lg-4">
    <br-card disabled>
      <br-card-header slot="header">
        <div class="d-flex">
          <br-avatar image="https://picsum.photos/id/823/400"></br-avatar>
          <div class="ml-3">
            <p class="h5 text-primary-default mb-0">Maria Amorim</p>
            <span>UX Designer</span>
          </div>
          <div class="ml-auto">
            <br-button circle icon="ellipsis-v"> </br-button>
          </div>
        </div>
      </br-card-header>
      <br-card-content slot="content">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore
          perferendis nam porro atque ex at, numquam non optio ab eveniet error
          vel ad exercitationem, earum et fugiat recusandae harum? Assumenda.
        </p>
      </br-card-content>
      <br-card-footer slot="footer">
        <div class="d-flex">
          <div>
            <br-button label="Button"></br-button>
          </div>
          <div class="ml-auto">
            <br-button circle icon="share-alt"></br-button>
            <br-button circle icon="heart"></br-button>
          </div>
        </div>
      </br-card-footer>
    </br-card>
  </div>
  <h4>Card Simples</h4>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <br-card>
      <br-card-content slot="content">
        <img src="https://picsum.photos/id/0/500" alt="Imagem de exemplo" />
      </br-card-content>
    </br-card>
  </div>
  <h4>Card com Hover</h4>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <br-card hover>
      <br-card-header slot="header">
        <div class="d-flex">
          <br-avatar image="https://picsum.photos/id/823/400"></br-avatar>
          <div class="ml-3">
            <p class="h5 text-primary-default mb-0">Maria Amorim</p>
            <span>UX Designer</span>
          </div>
          <div class="ml-auto">
            <br-button circle icon="ellipsis-v"> </br-button>
          </div>
        </div>
      </br-card-header>
      <br-card-content slot="content">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore
          perferendis nam porro atque ex at, numquam non optio ab eveniet error
          vel ad exercitationem, earum et fugiat recusandae harum? Assumenda.
        </p>
      </br-card-content>
      <br-card-footer slot="footer">
        <div class="d-flex">
          <div>
            <br-button label="Button"></br-button>
          </div>
          <div class="ml-auto">
            <br-button circle icon="share-alt"></br-button>
            <br-button circle icon="heart"></br-button>
          </div>
        </div>
      </br-card-footer>
    </br-card>
  </div>
  <h4>Card Expansão</h4>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <br-button label="Abrir/Fechar" id="card-expand-btn"></br-button>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <br-card id="card-expand" data-expanded="on" hover>
      <br-card-header slot="header">
        <div class="d-flex">
          <br-avatar image="https://picsum.photos/id/823/400"></br-avatar>
          <div class="ml-3">
            <p class="h5 text-primary-default mb-0">Maria Amorim</p>
            <span>UX Designer</span>
          </div>
          <div class="ml-auto">
            <br-button circle icon="ellipsis-v"> </br-button>
          </div>
        </div>
      </br-card-header>
      <br-card-content slot="content">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore
          perferendis nam porro atque ex at, numquam non optio ab eveniet error
          vel ad exercitationem, earum et fugiat recusandae harum? Assumenda.
        </p>
      </br-card-content>
      <br-card-footer slot="footer">
        <div class="d-flex">
          <div>
            <br-button label="Button"></br-button>
          </div>
          <div class="ml-auto">
            <br-button circle icon="share-alt"></br-button>
            <br-button circle icon="heart"></br-button>
          </div>
        </div>
      </br-card-footer>
    </br-card>
  </div>
</div>
