<!--
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Footer -->
<div>
  <h2>Footer Tema Padrão</h2>
  <br-footer
    text="Todo o conteúdo deste site está publicado sob a licença Creative Commons"
  >
    <br-list slot="categorias" horizontal data-toggle data-unique>
      <div class="col-2">
        <br-item header title="SERVICOS"></br-item>
        <br-list>
          <br-item href="https://www.google.com.br"
            >Financas, Impostos e gestao Publica</br-item
          >
          <br-item href="https://www.google.com.br">Assistencia Social</br-item>
          <br-item href="https://www.google.com.br"
            >Justiça e Segurança</br-item
          >
          <br-divider class="d-md-none"></br-divider>
        </br-list>
      </div>
      <div class="col-2">
        <br-item header title="GALERIA DE APLICATIVOS"></br-item>
        <br-list>
          <br-item href="#">Trabalho e previdencia</br-item>
          <br-item href="#">Energias, minerais e combustiveis</br-item>
          <br-item href="#">Justiça e Seguraça</br-item>
          <br-item href="#">Educação e pesquisa</br-item>
          <br-divider class="d-md-none"></br-divider>
        </br-list>
      </div>
      <div class="col-2">
        <br-item header title="NOTICIAS"></br-item>
        <br-list>
          <br-item href="#">Assistencia Social</br-item>
          <br-item href="#">Meio ambiente e clima</br-item>
          <br-item href="#">Viagens e Turismo</br-item>
          <br-item href="#">Agricultura e pecuaria</br-item>
          <br-divider class="d-md-none"></br-divider>
        </br-list>
      </div>
      <div class="col-2">
        <br-item header title="PLANALTO"></br-item>
        <br-list>
          <br-item href="#">Agricultura e pecuaria</br-item>
          <br-item href="#">Transito e transportes</br-item>
          <br-item href="#">Assistencia Social</br-item>
          <br-item href="#">Cultura, artes, historia e esportes</br-item>
          <br-divider class="d-md-none"></br-divider>
        </br-list>
      </div>
      <div class="col-2">
        <br-item header title="CANAIS DO PODER EXECUTIVO FEDERAL"></br-item>
        <br-list>
          <br-item href="#">Cultura, artes, historia e esportes</br-item>
          <br-item href="#">Financas, Impostos e gestao Publica</br-item>
          <br-item href="#">Viagens e Turismo</br-item>
          <br-divider class="d-md-none"></br-divider>
        </br-list>
      </div>
    </br-list>

    <br-footer-social-network slot="redesSociais" label="Redes Sociais">
      <br-footer-social-network-item url="http://www.facebook.com">
        <img
          src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png"
          alt="Imagem"
        />
      </br-footer-social-network-item>
      <br-footer-social-network-item url="http://www.twitter.com">
        <img
          src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png"
          alt="Imagem"
        />
      </br-footer-social-network-item>
      <br-footer-social-network-item url="http://www.instagram.com">
        <img
          src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png"
          alt="Imagem"
        />
      </br-footer-social-network-item>
      <br-footer-social-network-item url="http://www.linkedin.com">
        <img
          src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png"
          alt="Imagem"
        />
      </br-footer-social-network-item>
    </br-footer-social-network>

    <br-footer-logo
      slot="logo"
      src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-negative.png"
      alt="Acesso à informação"
    >
    </br-footer-logo>

    <div slot="footerImagens">
      <br-footer-image
        src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-negative.png"
        alt="Acesso à informação"
        href="#acesso-a-informacao2"
      >
      </br-footer-image>
      <br-footer-image
        src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-negative.png"
        alt="Acesso à informação"
        href="#acesso-a-informacao2"
      >
      </br-footer-image>
    </div>
  </br-footer>

  <h2>Footer Tema Invertido</h2>
  <br-footer
    text="Todo o conteúdo deste site está publicado sob a licença Creative Commons"
    inverted
  >
    <br-list slot="categorias" horizontal data-toggle data-unique>
      <div class="col-2">
        <br-item header title="SERVICOS"></br-item>
        <br-list>
          <br-item href="https://www.google.com.br"
            >Financas, Impostos e gestao Publica</br-item
          >
          <br-item href="https://www.google.com.br">Assistencia Social</br-item>
          <br-item href="https://www.google.com.br"
            >Justiça e Segurança</br-item
          >
          <br-divider class="d-md-none"></br-divider>
        </br-list>
      </div>
      <div class="col-2">
        <br-item header title="GALERIA DE APLICATIVOS"></br-item>
        <br-list>
          <br-item href="#">Trabalho e previdencia</br-item>
          <br-item href="#">Energias, minerais e combustiveis</br-item>
          <br-item href="#">Justiça e Seguraça</br-item>
          <br-item href="#">Educação e pesquisa</br-item>
          <br-divider class="d-md-none"></br-divider>
        </br-list>
      </div>
      <div class="col-2">
        <br-item header title="NOTICIAS"></br-item>
        <br-list>
          <br-item href="#">Assistencia Social</br-item>
          <br-item href="#">Meio ambiente e clima</br-item>
          <br-item href="#">Viagens e Turismo</br-item>
          <br-item href="#">Agricultura e pecuaria</br-item>
          <br-divider class="d-md-none"></br-divider>
        </br-list>
      </div>
      <div class="col-2">
        <br-item header title="PLANALTO"></br-item>
        <br-list>
          <br-item href="#">Agricultura e pecuaria</br-item>
          <br-item href="#">Transito e transportes</br-item>
          <br-item href="#">Assistencia Social</br-item>
          <br-item href="#">Cultura, artes, historia e esportes</br-item>
          <br-divider class="d-md-none"></br-divider>
        </br-list>
      </div>
      <div class="col-2">
        <br-item header title="CANAIS DO PODER EXECUTIVO FEDERAL"></br-item>
        <br-list>
          <br-item href="#">Cultura, artes, historia e esportes</br-item>
          <br-item href="#">Financas, Impostos e gestao Publica</br-item>
          <br-item href="#">Viagens e Turismo</br-item>
          <br-divider class="d-md-none"></br-divider>
        </br-list>
      </div>
    </br-list>

    <br-footer-social-network
      slot="redesSociais"
      label="Redes Sociais"
      inverted
    >
      <br-footer-social-network-item url="http://www.facebook.com">
        <img
          src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png"
          alt="Imagem"
        />
      </br-footer-social-network-item>
      <br-footer-social-network-item url="http://www.twitter.com">
        <img
          src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png"
          alt="Imagem"
        />
      </br-footer-social-network-item>
      <br-footer-social-network-item url="http://www.instagram.com">
        <img
          src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png"
          alt="Imagem"
        />
      </br-footer-social-network-item>
      <br-footer-social-network-item url="http://www.linkedin.com">
        <img
          src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png"
          alt="Imagem"
        />
      </br-footer-social-network-item>
    </br-footer-social-network>

    <br-footer-logo
      inverted
      slot="logo"
      src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-negative.png"
      alt="Acesso à informação"
    >
    </br-footer-logo>

    <div slot="footerImagens">
      <br-footer-image
        inverted
        src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-negative.png"
        alt="Acesso à informação"
        href="#acesso-a-informacao2"
      >
      </br-footer-image>
      <br-footer-image
        inverted
        src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-negative.png"
        alt="Acesso à informação"
        href="#acesso-a-informacao2"
      >
      </br-footer-image>
    </div>
  </br-footer>
</div>
