<!--
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Header -->
<div id="header">
  <h2>Header</h2>
  <br-header
    image="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-positive.png"
    signature="Assinatura da empresa"
    title="Título do Header"
    subtitle="Subtítulo do Header"
  >
    <br-menu
      slot="headerMenu"
      list='{
      "menu group 1": [
        "group1 menu item 1",
        {
          "text": "group1 menu item 2",
          "list": [
            "submenu item 1",
            "submenu item 2",
            "submenu item 3"
          ]
        },
        "group1 menu item 3"
      ],
      "menu group 2": [
        "group2 menu item",
        {
          "text": "group2 menu item2",
          "list": [
            "submenu item",
            {
              "text": "submenu item 2",
              "list": [
                "child submenu item",
                {
                  "text": "child submenu item 2",
                  "list": [
                    "last level 1",
                    "last level 2",
                    "last level 3"
                  ]
                },
                "child submenu item 3"
              ]
            },
            "submenu item 3"
          ]
        },
        "group2 menu item3"
      ]
    }'
    ></br-menu>
    <div slot="headerAction">
      <br-header-action>
        <br-header-action-link slot="actionLink" href="#"
          >Link de acesso 1</br-header-action-link
        >
        <br-header-action-link slot="actionLink" href="#"
          >Link de acesso 2</br-header-action-link
        >
        <br-header-action-link slot="actionLink" href="#"
          >Link de acesso 3</br-header-action-link
        >
        <br-header-action-link slot="actionLink" href="#"
          >Link de acesso 4</br-header-action-link
        >
        <br-header-action-function
          slot="actionFunction"
          icon="chart-bar"
          text="Funcionalidade 1"
        >
        </br-header-action-function>
        <br-header-action-function
          slot="actionFunction"
          icon="headset"
          text="Funcionalidade 4"
        >
        </br-header-action-function>
        <br-header-action-function
          slot="actionFunction"
          icon="comment"
          text="Funcionalidade 2"
        >
        </br-header-action-function>
        <br-header-action-function
          slot="actionFunction"
          icon="adjust"
          text="Funcionalidade 3"
        >
        </br-header-action-function>
        <br-header-action-login
          slot="actionLogin"
          label="Entrar"
          image="https://picsum.photos/id/823/400"
        >
          <br-notification
            title="Título da notificação"
            subtitle="Subtítulo da notificação"
          >
            <br-tab>
              <br-tab-item title="Aba 1">
                <br-list>
                  <button class="br-item" type="button" icon="fa-home">
                    <i class="fa-home" aria-hidden="true"></i>
                    Link de Acesso
                  </button>
                  <br-divider></br-divider>
                  <button class="br-item" type="button">
                    <i class="fa-heartbeat" aria-hidden="true"></i>Link de
                    Acesso
                  </button>
                  <br-divider></br-divider>
                  <button class="br-item" type="button">
                    <i class="fa-user" aria-hidden="true"></i>Link de Acesso
                  </button>
                </br-list>
              </br-tab-item>
              <br-tab-item title="Aba 2">
                <br-list>
                  <button class="br-item" type="button">
                    <span class="br-tag status small warning"></span>
                    <span class="text-bold">Título</span>
                    <span class="text-medium mb-2">25 de out</span>
                    <span>Texto da notificação.</span>
                  </button>
                  <br-divider></br-divider>
                  <button class="br-item" type="button">
                    <span class="text-bold">Título</span>
                    <span class="text-medium mb-2">24 de out</span>
                    <span>Texto da notificação.</span>
                  </button>
                  <br-divider></br-divider>
                  <button class="br-item" type="button">
                    <span class="br-tag status small warning"></span>
                    <span class="text-bold">Título</span>
                    <span class="text-medium mb-2">03 de out</span>
                    <span>Texto da notificação.</span>
                  </button>
                  <br-divider></br-divider>
                  <button class="br-item" type="button">
                    <span class="text-bold">Título</span>
                    <span class="text-medium mb-2">16 de mai</span>
                    <span>Texto da notificação.</span>
                  </button>
                </br-list>
              </br-tab-item>
            </br-tab>
          </br-notification>
        </br-header-action-login>
      </br-header-action>
    </div>

    <br-header-search slot="headerSearch"></br-header-search>
  </br-header>
</div>
