<!--
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Item -->
<div>
  <h2>Item</h2>
  <h4>Item com hover</h4>
  <br-item hover id="item1">Texto simples</br-item>
  <h4>Item com imagem</h4>
  <br-item hover>
    <!-- Error: br-item do tipo imagem nao funciona -->
    <div class="row align-items-center">
      <div class="col-auto">
        <img
          class="rounded"
          src="https://picsum.photos/40/40"
          alt="imagem de exemplo 1"
        />
      </div>
      <div class="col">
        <span>Item 1 - uma imagem e um texto (sem elemento de formulário)</span>
      </div>
    </div>
  </br-item>
  <h4>Item com button</h4>
  <br-item>
    <div class="col">
      <br-button
        label="br-button dentro de um br-item"
        type="primary"
      ></br-button>
    </div>
  </br-item>
  <h4>Item com checkbox</h4>
  <br-item>
    <div class="br-checkbox">
      <!-- em uma página html pura, teria que fazer esse onchange -->
      <!-- com um framework JS, bastaria atribuir a mesma variavel ao atributo selected do br-item e ao checked do input -->
      <input
        id="check-01"
        type="checkbox"
        onchange="this.parentNode.parentNode.parentNode.selected=this.checked"
      />
      <label for="check-01">
        Item 1 - checkbox com html puro (aguardando desenvolvimento do
        componente br-checkbox)
      </label>
    </div>
  </br-item>
  <br-item>
    <div class="br-checkbox">
      <!-- em uma página html pura, teria que fazer esse onchange -->
      <!-- com um framework JS, bastaria atribuir a mesma variavel ao atributo selected do br-item e ao checked do input -->
      <input
        id="check-02"
        type="checkbox"
        onchange="this.parentNode.parentNode.parentNode.selected=this.checked"
      />
      <label for="check-02">
        Item 2 - checkbox com html puro (aguardando desenvolvimento do
        componente br-checkbox)
      </label>
    </div>
  </br-item>
</div>
