<!--
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Input -->
<div>
  <h3>Input</h3>
  <br-input
    onclick="alert('teste')"
    label="Nome completo"
    placeholder="Fulano Beltrano"
    state="info"
    density="medium"
  ></br-input>
  <br />
  <br-input
    label="Senha"
    placeholder="Digite a senha de 8 a 11 dígitos"
    density="medium"
    ispassword
  >
  </br-input>
  <br />
  <br-input
    label="Logar"
    placeholder="Digite seu usuário"
    density="small"
    icon="arrow-right"
  >
  </br-input>
  <br />
  <br-input label="CPF" placeholder="Digite somente números" disabled>
  </br-input>
  <br-message feedback state="warning">Campo desabilitado.</br-message>
  <br />
  <br-input label="CPF" placeholder="Digite somente números" state="success">
  </br-input>
  <br-message feedback state="success">CPF válido.</br-message>
  <br />
  <br-input label="CPF" placeholder="Digite somente números" state="info">
  </br-input>
  <br-message feedback state="info">CPF não cadastrado ainda.</br-message>
  <br />
  <br-input label="CPF" placeholder="Digite somente números" state="warning">
  </br-input>
  <br-message feedback state="warning">CPF verificar informação.</br-message>
  <br />
  <br-input label="CPF" placeholder="Digite somente números" state="danger">
  </br-input>
  <br-message feedback state="danger">CPF inválido.</br-message>
</div>
