<!--
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Menu -->
<div>
  <h2>Menu</h2>
  <br-menu
    list='{
    "menu group 1": [
      "group1 menu item 1",
      {
        "text": "group1 menu item 2",
        "list": [
          "submenu item 1",
          "submenu item 2",
          "submenu item 3"
        ]
      },
      "group1 menu item 3"
    ],
    "menu group 2": [
      "group2 menu item",
      {
        "text": "group2 menu item2",
        "list": [
          "submenu item",
          {
            "text": "submenu item 2",
            "list": [
              "child submenu item",
              {
                "text": "child submenu item 2",
                "list": [
                  "last level 1",
                  "last level 2",
                  "last level 3"
                ]
              },
              "child submenu item 3"
            ]
          },
          "submenu item 3"
        ]
      },
      "group2 menu item3"
    ]
  }'
  ></br-menu>
</div>
