<!--
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- MagicButton -->
<div>
  <h2>MagicButton</h2>

  <div class="container-fluid">
    <h3>MAGIC BUTTON</h3>

    <h4>TIPOS</h4>

    <br-magic-button label="Label" class="mr-1"></br-magic-button>
    <br-magic-button icon="car" circle></br-magic-button>

    <h4>DENSIDADES</h4>

    <br-magic-button
      density="small"
      label="Label"
      class="mr-1"
    ></br-magic-button>
    <br-magic-button
      density="medium"
      label="Label"
      class="mr-1"
    ></br-magic-button>
    <br-magic-button
      density="large"
      label="Label"
      class="mr-1"
    ></br-magic-button>
    <br />
    <br-magic-button
      density="small"
      circle
      icon="car"
      class="mr-1 mt-1"
    ></br-magic-button>
    <br-magic-button
      density="medium"
      circle
      icon="car"
      class="mr-1 mt-1"
    ></br-magic-button>
    <br-magic-button
      density="large"
      circle
      ariaLabel="Botao densidade largo"
      icon="car"
      class="mr-1 mt-1"
    >
    </br-magic-button>
  </div>
</div>
