<!--
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Message -->
<div>
  <h2>Message</h2>
  <br-message
    state="danger"
    closable
    inverted
    title="Data de início do afastamento inválida."
  >
    A data não pode ser superior à data atual.
  </br-message>
  <br-message state="danger">
    A data não pode ser superior à data atual.
  </br-message>
  <br-message state="success" title="Sucesso." inline>
    Seus dados foram alterados conforme preencimento do formulário.
  </br-message>
  <br-message
    >Seus dados só serão salvos após o preenchimento do primeiro campo do
    formulário.</br-message
  >
  <br-message state="warning" title="Atenção."
    >Em caso de dúvida, não compartilhe sua senha com terceiros. Ligue para a
    Central de atendimento.</br-message
  >

  <h3>FEEDBACK</h3>
  <br-message feedback state="warning" closable>
    A tecla CAPS-LOCK está ativada.
  </br-message>
  <br-message feedback state="danger"
    >O CPF deve conter apenas dígitos</br-message
  >
  <br-message feedback state="success">Campo correto.</br-message>
  <br-message feedback
    >Os arquivos devem ser no formato PNG, JPG, PDF e ter no máximo
    1GB.</br-message
  >
</div>
