<!--
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Switch -->
<div>
  <h2>Switch</h2>
  <br-switch
    label="Com ícone, tamanho pequeno e rótulos"
    label-checked="SUCESSO"
    label-not-checked="ERRO"
    size="small"
    icon
  ></br-switch>
  <br />
  <br-switch
    label="Com ícone, tamanho grande e rótulos"
    label-checked="ON"
    label-not-checked="OFF"
    size="large"
    icon
  >
  </br-switch>
  <br />
  <br-switch id="switch-default" label="Padrão"> </br-switch>
  <br />
  <br-switch id="switch-label-slot">Este label foi passado como slot</br-switch>
  <br />
  <br-switch>
    <img
      src="https://dsgov.estaleiro.serpro.gov.br/assets/img/govbr-logo-large.png"
      title="Imagem passada por slot"
      alt="DSGov"
    />
  </br-switch>
  <br />
  <br-switch id="switch-small" label="Tamanho pequeno" size="small"></br-switch>
  <br />
  <br-switch id="switch-large" label="Tamanho grande" size="large"></br-switch>
  <br />
  <br-switch id="switch-disabled" label="Desabilitado" disabled></br-switch>
  <br />
  <br-switch id="switch-icon" label="Com ícone" icon></br-switch>
  <br />
  <br-switch
    id="switch-labels"
    label="Com rótulos"
    label-checked="pgado"
    label-not-checked="Despgado"
  >
  </br-switch>
  <br />
  <br-switch
    id="switch-all-default"
    label="Com ícone, tamanho padrão e rótulos"
    label-checked="SIM"
    label-not-checked="NÃO"
    icon
  ></br-switch>
  <br />
  <br-switch
    id="switch-all-small"
    label="Com ícone, tamanho pequeno e rótulos"
    label-checked="SUCESSO"
    label-not-checked="ERRO"
    size="small"
    icon
  >
  </br-switch>
  <br />
  <br-switch
    id="switch-all-large"
    label="Com ícone, tamanho grande e rótulos"
    label-checked="ON"
    label-not-checked="OFF"
    size="large"
    icon
  ></br-switch>
  <br />
  <br />
  <br-switch label="Label top" top size="small" icon></br-switch>
  <br />
  <br />
  <br-switch label="Label right" right density="small" icon></br-switch>
  <br />
</div>
