<!--
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://dsgov.estaleiro.serpro.gov.br/assets/design-system/dist/dsgov.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      #app {
        padding-bottom: 50px;
      }
    </style>
  </head>

  <body>
    <div class="container-fluid mt-5">
      <h1>DSGOV.BR - Webcomponents</h1>
      <div id="app">
        <br-tab label="Componentes" density="small" tab-nav-font-size="13">
          <br-tab-item title="br-avatar" id="br-avatar"></br-tab-item>
          <br-tab-item title="br-breadcrumb" id="br-breadcrumb"></br-tab-item>
          <br-tab-item title="br-button" id="br-button"></br-tab-item>
          <br-tab-item title="br-card" id="br-card"></br-tab-item>
          <br-tab-item title="br-checkbox" id="br-checkbox"></br-tab-item>
          <br-tab-item title="br-divider" id="br-divider"></br-tab-item>
          <br-tab-item title="br-footer" id="br-footer"></br-tab-item>
          <br-tab-item title="br-header" id="br-header"></br-tab-item>
          <br-tab-item title="br-input" id="br-input"></br-tab-item>
          <br-tab-item title="br-item" id="br-item"></br-tab-item>
          <br-tab-item title="br-list" id="br-list"></br-tab-item>
          <br-tab-item title="br-loading" id="br-loading"></br-tab-item>
          <br-tab-item title="br-magic-button" id="br-magic-button"></br-tab-item>
          <br-tab-item title="br-menu" id="br-menu"></br-tab-item>
          <br-tab-item title="br-message" id="br-message"></br-tab-item>
          <br-tab-item title="br-switch" id="br-switch"></br-tab-item>
          <br-tab-item title="br-tab" id="br-tab"></br-tab-item>
          <br-tab-item title="br-tooltip" id="br-tooltip"></br-tab-item>
        </br-tab>
      </div>
    </div>
    <script>
      window.addEventListener("load", () => {
        // carregando página do primeiro br-tab-item
        getPageById(document.querySelector("br-tab-item").id);
        
        let previousTabId;
        
        document.querySelector("br-tab").addEventListener("onTabItemClick", (e) => {
          if (previousTabId) {
            document.getElementById(previousTabId).innerHTML = "";
          }
          const id = e.detail[0].id;
          previousTabId = id;
          getPageById(id);
        });

        function getPageById(id) {
          const url = id + ".html";
          const element = document.getElementById(id);
          element.innerHTML = `
            <div>
              <div class="row">
                <div class="col-auto">
                  <br-loading rotulo="Carregando..."></br-loading>
                </div>
              </div>
            </div>`
          ;
          fetch(url).then((response) =>
            response.text().then((htmlResponse) => {
              element.innerHTML = htmlResponse;
              if (id === "br-card") {
                const cardExpandBtn = document.getElementById("card-expand-btn");
                if (cardExpandBtn) {
                  cardExpandBtn.addEventListener("click", () => {
                    const cardExpand = document.getElementById("card-expand");
                    const expanded = cardExpand.getAttribute("data-expanded");
                    const newExpanded = expanded && expanded === "on" ? "off" : "on";
                    cardExpand.setAttribute("data-expanded", newExpanded);
                  });
                }
              } else if (["br-button", "br-breadcrumb", "br-magic-button"].includes(id)) {
                document
                  .querySelectorAll("br-button, br-breadcrumb-crumb, br-magic-button")
                  .forEach((dsgovWebComponent) =>
                    dsgovWebComponent.addEventListener("click", (e) => {
                      console.log(e.target);
                      alert(
                        e.target.tagName.toLowerCase() +
                          " clicado:\n\nprops: " +
                          JSON.stringify(e.target._props)
                            .replaceAll("{", "{\n  ")
                            .replaceAll(",", ",\n  ")
                            .replaceAll("}", "\n}")
                      );
                    })
                  );
              }
            })
          );
        };
      });
    </script>
    <!-- built files will be auto injected -->
  </body>
</html>
