<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div class="br-breadcrumb pt-3" v-bind:aria-label="title">
    <ul class="crumb-list">
      <slot />
    </ul>
  </div>
</template>

<script>
const Breadcrumb = {
  name: "br-breadcrumb",
  props: {
    /** Título do breabcrumb, utilizado para fins de acessibilidade */
    title: {
      type: String,
      validator: function (val) {
        return val.trim().length > 1;
      },
    },
  },
};
export default Breadcrumb;
</script>
<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";

@import "././src/assets/sass/breadcrumb.scss";
</style>
