<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div
    class="br-card"
    :class="[{ disabled: disabled, hover: hover }]"
    :disabled="disabled"
    :aria-disabled="disabled"
    :data-expanded="dataExpanded"
  >
    <div class="card-header">
      <slot name="header"></slot>
    </div>
    <div class="card-content">
      <slot name="content"></slot>
    </div>
    <div class="card-footer">
      <slot name="footer"></slot>
    </div>
  </div>
</template>
<script>
export default {
  name: "Card",
  props: {
    /**
     * Aplica estilo desabilitado ao componente
     */
    disabled: {
      type: Boolean,
      default: null,
    },
    /**
     * Habilita o estado hover ao card
     */
    hover: {
      type: Boolean,
      default: null,
    },
    dataExpanded: {
      type: String,
      default: null,
      validator: function (value) {
        return ["on", "off"].includes(value);
      },
    },
  },
};
</script>
<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/utilities/_states";
@import "~@govbr/dsgov/src/components/card/_card";
</style>
