<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template #headerAction>
  <div class="header-actions">
    <div class="header-links dropdown" :class="{ show: showLink }">
      <br-button
        circle
        density="small"
        :class="{ active: showLink }"
        data-toggle="dropdown"
        aria-label="Abrir Acesso Rápido"
        @click="openLinks()"
      >
        <font-awesome-icon icon="ellipsis-v" aria-hidden="true" size="1x" />
      </br-button>
      <div class="br-list">
        <div class="header">
          <div class="title">Acesso Rápido</div>
        </div>
        <slot name="actionLink"></slot>
      </div>
    </div>
    <span class="br-divider vertical mx-half mx-sm-1"></span>
    <div class="header-functions dropdown" :class="{ show: showFunction }">
      <br-button
        circle
        density="small"
        :class="{ active: showFunction }"
        data-toggle="dropdown"
        aria-label="Abrir Funcionalidades do Sistema"
        @click="openFunctions()"
      >
        <font-awesome-icon icon="th" aria-hidden="true" />
      </br-button>
      <div class="br-list">
        <div class="header">
          <div class="title">Funcionalidades do Sistema</div>
        </div>
        <slot name="actionFunction"></slot>
      </div>
    </div>
    <div class="header-search-trigger">
      <BrHeaderActionSearch
        v-on:openSearch="openInputSearch($event)"
      ></BrHeaderActionSearch>
    </div>
    <div class="header-login">
      <div class="header-sign-in">
        <br-button density="small" class="sign-in" data-trigger="login">
          <font-awesome-icon icon="user" aria-hidden="true" />
          <span class="d-sm-inline">Entrar</span>
        </br-button>
      </div>
      <div class="header-avatar d-none">
        <div class="avatar dropdown">
          <span class="br-avatar" title="Fulana da Silva"
            ><span class="image"
              ><img src="https://picsum.photos/id/823/400" alt="Avatar" /></span
          ></span>
          <button
            class="br-button circle small"
            type="button"
            aria-label="Abrir Menu de usuário"
            data-toggle="dropdown"
          >
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </button>
          <div class="br-notification">
            <div class="notification-header">
              <div class="row">
                <div class="col-10">
                  <span class="text-bold">Fulano da Silva</span><br /><small
                    >nome.sobrenome@dominio.gov</small
                  >
                </div>
              </div>
            </div>
            <div class="notification-body">
              <div class="br-tab">
                <nav class="tab-nav">
                  <ul>
                    <li class="tab-item">
                      <button
                        type="button"
                        data-panel="notification-panel-1-53862"
                      >
                        <span class="name"
                          ><span class="d-flex flex-column flex-sm-row"
                            ><span class="icon mb-1 mb-sm-0 mr-sm-1"
                              ><i
                                class="fas fa-image"
                                aria-hidden="true"
                              ></i></span
                            ><span class="name">Item</span></span
                          ></span
                        >
                      </button>
                    </li>
                    <li class="tab-item active">
                      <button
                        type="button"
                        data-panel="notification-panel-2-53862"
                      >
                        <span class="name"
                          ><span class="d-flex flex-column flex-sm-row"
                            ><span class="icon mb-1 mb-sm-0 mr-sm-1"
                              ><i
                                class="fas fa-image"
                                aria-hidden="true"
                              ></i></span
                            ><span class="name">Item</span></span
                          ></span
                        >
                      </button>
                    </li>
                  </ul>
                </nav>
                <div class="tab-content">
                  <div class="tab-panel" id="notification-panel-1-53862">
                    <div class="br-list">
                      <button class="br-item" type="button">
                        <i class="fas fa-heartbeat" aria-hidden="true"></i>Link
                        de Acesso</button
                      ><span class="br-divider"></span>
                      <button class="br-item" type="button">
                        <i class="fas fa-heartbeat" aria-hidden="true"></i>Link
                        de Acesso</button
                      ><span class="br-divider"></span>
                      <button class="br-item" type="button">
                        <i class="fas fa-heartbeat" aria-hidden="true"></i>Link
                        de Acesso
                      </button>
                    </div>
                  </div>
                  <div class="tab-panel active" id="notification-panel-2-53862">
                    <div class="br-list">
                      <button class="br-item" type="button">
                        <span class="br-tag status small warning"></span
                        ><span class="text-bold">Título</span
                        ><span class="text-medium mb-2">25 de out</span
                        ><span
                          >Nostrud consequat culpa ex mollit aute. Ex ex veniam
                          ea labore laboris duis duis elit. Ex aute dolor enim
                          aute Lorem dolor. Duis labore ad anim culpa. Non
                          aliqua excepteur sunt eiusmod ex consectetur ex esse
                          laborum velit ut aute.</span
                        ></button
                      ><span class="br-divider"></span>
                      <button class="br-item" type="button">
                        <span class="text-bold">Título</span
                        ><span class="text-medium mb-2">24 de out</span
                        ><span
                          >Labore nulla elit laborum nulla duis. Deserunt ad
                          nulla commodo occaecat nulla proident ea proident
                          aliquip dolore sunt nulla. Do sit eu consectetur quis
                          culpa. Eiusmod minim irure sint nulla incididunt
                          occaecat ipsum mollit in ut. Minim adipisicing veniam
                          adipisicing velit nostrud duis consectetur aute nulla
                          deserunt culpa aliquip.</span
                        ></button
                      ><span class="br-divider"></span>
                      <button class="br-item" type="button">
                        <span class="br-tag status small warning"></span
                        ><span class="text-bold">Título</span
                        ><span class="text-medium mb-2">03 de out</span
                        ><span
                          >Duis qui dolor dolor qui sint consectetur. Ipsum eu
                          dolore ex anim reprehenderit laborum commodo. Labore
                          do ut nulla eiusmod consectetur.</span
                        ></button
                      ><span class="br-divider"></span>
                      <button class="br-item" type="button">
                        <span class="text-bold">Título</span
                        ><span class="text-medium mb-2">16 de mai</span
                        ><span
                          >Sunt velit dolor enim mollit incididunt irure est. Ad
                          ea Lorem culpa quis occaecat sunt in exercitation
                          nisi. Sit laborum laborum dolor culpa ipsum velit. Non
                          nulla nisi dolore et anim consequat officia deserunt
                          amet qui. Incididunt exercitation irure labore ut
                          Lorem culpa. Dolore ea irure pariatur ullamco culpa
                          veniam amet dolor in fugiat pariatur ut. Sit non ut
                          enim et incididunt tempor irure pariatur ex proident
                          labore cillum dolore nisi.</span
                        >
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import FontAwesomeIcon from "../../font-awesome-share";
import BrHeaderActionSearch from "./HeaderActionSearch.ce.vue";
import BrButton from "../Button/Button.ce.vue";

export default {
  name: "HeaderAction",
  components: {
    FontAwesomeIcon,
    BrHeaderActionSearch,
    BrButton,
  },
  data() {
    return {
      showLink: false,
      showFunction: false,
    };
  },
  inject: ["isSearch", "isHeaderAction"],
  methods: {
    hasSlot(slot) {
      return this.$slots[slot];
    },

    openLinks() {
      this.showLink = !this.showLink;
      if (this.showFunction) {
        this.showFunction = !this.showFunction;
      }
    },

    openFunctions() {
      this.showFunction = !this.showFunction;
      if (this.showLink) {
        this.showLink = !this.showLink;
      }
    },
    openInputSearch(open) {
      console.log(`teste: `, open);
      this.$parent.isActive = open;
      console.log(this.$parent.isActive);
    },
    onResize() {
      if (window.innerWidth > 1280) {
        this.showLink = false;
        this.showFunction = false;
      }
    },
  },
  created() {
    window.addEventListener("resize", this.onResize);
  },
  beforeUnmount() {
    window.removeEventListener("resize", this.onResize);
  },
};
</script>
<style lang="scss">
@import "~@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/header/header";
@import "~@govbr/dsgov/src/components/divider/_divider";
@import "~@govbr/dsgov/src/components/button/_button";
@import "~@govbr/dsgov/src/components/list/_list";
@import "~@govbr/dsgov/src/components/signin/_signin";

:host {
  @include header-actions;
}
</style>
