<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template #headerMenu>
  <!-- <div class="header-menu-trigger"> -->
  <br-button
    circle
    density="small"
    icon="bars"
    size="1x"
    aria-label="Menu"
    data-toggle="menu"
    data-target="#navigation"
  >
  </br-button>
  <!-- </div> -->
</template>
<script>
import BrButton from "../Button/Button.ce.vue";

export default {
  name: "HeaderMenu",
  components: {
    BrButton,
  },
};
</script>
<style lang="scss">
@import "@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/header/_header";
@import "~@govbr/dsgov/src/components/button/_button";

.header-top,
.header-bottom {
  display: flex;
}
.header-top {
  justify-content: flex-end;
}
.header-bottom {
  justify-content: space-between;
  margin-top: var(--header-padding-small);
}

.small {
  --header-padding: var(--header-padding-small);
}
.medium {
  --header-padding: var(--header-padding-medium);
}
.large {
  --header-padding: var(--header-padding-large);
}
.header-logo {
  display: flex;
  flex: 1;
  float: left;
}
.header-logo img {
  margin-right: var(--spacing-scale-base);
  max-height: var(--header-logo-size);
}
.header-logo .br-divider {
  display: none;
}
.header-logo .header-sign {
  color: var(--header-sign-color);
  display: none;
  font-weight: 500;
  max-height: 2.5rem;
  overflow: hidden;
}
[data-no-logo] .header-logo img {
  display: none;
}
[data-no-sign] .header-logo .header-sign {
  display: none;
}
@media (min-width: 576px) {
  .header-logo {
    --header-logo-size: var(--header-logo-large);
    margin: 0;
  }
  .header-logo .br-divider {
    display: block;
  }
  .header-logo .header-sign {
    display: block;
  }
}
.header-actions {
  --focus-offset: calc(var(--spacing-scale-half) * -1);
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.header-actions .dropdown.show .br-list {
  display: block;
  z-index: var(--z-index-layer-1);
}
.header-actions .dropdown.show .br-button.active .svg-inline--fa,
.header-actions .dropdown.show .br-button.active .fa,
.header-actions .dropdown.show .br-button.active .fab,
.header-actions .dropdown.show .br-button.active .fad,
.header-actions .dropdown.show .br-button.active .fal,
.header-actions .dropdown.show .br-button.active .far,
.header-actions .dropdown.show .br-button.active .fas {
  transform: rotate(180deg);
}
.header-actions .dropdown.show .br-notification {
  display: block;
  right: -16px;
  width: 100vw;
  z-index: var(--z-index-layer-1);
}
.header-actions .dropdown:not(.show) .br-notification {
  display: none;
}
.header-actions .header-links,
.header-actions .header-functions {
  --focus-offset: calc(var(--spacing-scale-half) * -1);
}
.header-actions .header-links .br-list,
.header-actions .header-functions .br-list {
  background: var(--header-background);
  left: -4em;
}
.header-actions .header-links .br-list .br-item,
.header-actions .header-functions .br-list .br-item {
  white-space: nowrap;
}
.header-actions .header-links ul,
.header-actions .header-functions ul {
  display: none;
}
.header-actions .header-functions .br-list .br-item {
  padding: 0;
}
.header-actions .header-functions .br-list .br-button {
  --button-size: auto;
  --button-font-size: var(--font-size-scale-base);
  --button-font-weight: var(--font-weight-regular);
  border-radius: 0;
  justify-content: flex-start;
  padding: var(--spacing-scale-base) var(--spacing-scale-2x);
  width: 100%;
}
.header-actions .header-functions .br-list .br-button .text {
  margin-left: var(--spacing-scale-2x);
}
.header-actions .header-functions ul {
  display: none;
}
.header-actions .header-login {
  --focus-offset: 0;
  margin-left: var(--spacing-scale-base);
}
.header-actions .sign-in {
  --button-padding: 0 var(--spacing-scale-2x);
}
.header-actions .avatar {
  align-items: center;
  display: flex;
}
.header-actions .avatar .br-list {
  min-width: 200px;
  right: 0;
  top: 100%;
}
[data-no-links] .header-actions .header-links {
  display: none;
}
[data-no-functions] .header-actions .header-functions {
  display: none;
}
[data-no-login] .header-actions .header-login {
  display: none;
}
@media (min-width: 576px) {
  .header-actions .header-links .br-list,
  .header-actions .header-functions .br-list {
    background: var(--header-background);
    left: auto;
    right: 0;
  }
  .header-actions .header-links .br-notification,
  .header-actions .header-functions .br-notification {
    width: 100vw;
  }
}
@media (min-width: 1280px) {
  .header-actions .header-links [data-toggle="dropdown"],
  .header-actions .header-functions [data-toggle="dropdown"] {
    display: none;
  }
  .header-actions .header-links .br-list,
  .header-actions .header-functions .br-list {
    box-shadow: none;
    display: flex;
    position: static;
  }
  .header-actions .header-links .br-list .header,
  .header-actions .header-functions .br-list .header {
    display: none;
  }
  .header-actions .header-links .br-list .br-item,
  .header-actions .header-functions .br-list .br-item {
    --item-padding-x: var(--spacing-scale-base);
    margin-right: var(--spacing-scale-base);
  }
  .header-actions .header-links .br-list .br-notification,
  .header-actions .header-functions .br-list .br-notification {
    width: 50vw;
  }
  .header-actions .header-functions .br-list .br-button {
    --button-size: var(--button-small);
    border-radius: 50%;
    justify-content: center;
    padding: 0;
    width: var(--button-size);
  }
  .header-actions .header-functions .br-list .br-button .text {
    display: none;
  }
  .header-actions .header-search-trigger {
    display: none;
  }
}
.header-menu {
  align-items: center;
  display: flex;
  flex: 1;
}
.header-menu .header-menu-trigger + .header-info {
  margin-left: var(--spacing-scale-2x);
}
.header-menu .header-title {
  color: var(--header-title-color);
  font-size: var(--header-title-size);
  max-height: calc(var(--header-title-size) * 3);
  overflow: hidden;
}
.header-menu .header-subtitle {
  color: var(--header-subtitle-color);
  display: none;
  font-size: var(--header-subtitle-size);
  font-weight: 500;
  margin-top: var(--spacing-scale-half);
}
[data-no-subtitle] .header-menu .header-subtitle {
  display: none;
}
@media (min-width: 576px) {
  .header-menu {
    --header-title-size: var(--font-size-scale-up-02);
    align-items: flex-start;
  }
  .header-menu .header-menu-trigger {
    margin-top: 3px;
  }
  .header-menu .header-info {
    padding-top: var(--spacing-scale-half);
  }
  .header-menu .header-subtitle {
    display: block;
  }
}
@media (min-width: 1280px) {
  .header-menu {
    --header-title-size: var(--font-size-scale-up-03);
    --header-subtitle-size: var(--font-size-scale-base);
  }
  .header-menu .header-info {
    padding-top: 0;
  }
}
.header-search,
.compact .header-search {
  align-items: center;
  background: var(--header-background);
  bottom: 0;
  display: none;
  left: 0;
  padding: 0 var(--spacing-scale-2x);
  position: absolute;
  right: 0;
  top: 0;
}
.header-search .br-input,
.compact .header-search .br-input {
  --input-margin-bottom: 1px * 0;
  --input-margin-top: 1px * 0;
  align-items: center;
  display: flex;
  flex: 1;
}
.header-search .br-input label,
.compact .header-search .br-input label {
  display: none;
}
.header-search .br-input input,
.compact .header-search .br-input input {
  border-color: transparent;
}
.header-search .br-input input:not(:focus),
.compact .header-search .br-input input:not(:focus) {
  background: var(--color-secondary-02);
}
.header-search .br-input .icon,
.header-search .br-input .br-button,
.compact .header-search .br-input .icon,
.compact .header-search .br-input .br-button {
  --focus-offset: 0;
}
.header-search .br-input.input-highlight,
.compact .header-search .br-input.input-highlight {
  display: block;
}
.header-search .br-input.input-highlight label,
.compact .header-search .br-input.input-highlight label {
  display: inherit;
}
.header-search .br-input.input-highlight .br-button,
.compact .header-search .br-input.input-highlight .br-button {
  position: relative;
}
.header-search .search-close,
.compact .header-search .search-close {
  --focus-offset: calc(var(--spacing-scale-half) * -1);
  display: none;
}
.header-search.active,
.compact .header-search.active {
  display: flex;
}
.header-search.active .search-close,
.compact .header-search.active .search-close {
  display: inline-flex;
}
[data-no-search] .header-search {
  display: none;
}
@media (min-width: 1280px) {
  .header-search {
    display: flex;
    padding: 0;
    position: static;
  }
  .header-search.active .search-close {
    display: none;
  }
}
.br-input.has-icon .br-button.circle {
  margin-top: 0;
  position: absolute;
  right: 4px;
}
.compact {
  --header-logo-size: var(--header-logo-small);
  --header-padding: var(--header-padding-small);
}
.compact .header-actions .header-search-trigger {
  display: block;
}
@media (min-width: 576px) {
  .compact .container-lg {
    position: relative;
  }
  .compact .header-top {
    display: block;
  }
  .compact .header-logo {
    --header-logo-size: var(--header-logo-small);
    float: left;
  }
  .compact .header-logo .br-divider {
    display: none;
  }
  .compact .header-sign {
    display: none;
  }
  .compact .header-actions {
    float: right;
    margin-top: var(--spacing-scale-2x);
    position: relative;
  }
  .compact .header-bottom {
    clear: left;
  }
  .compact .header-menu {
    --header-title-size: var(--font-size-scale-up-01);
  }
  .compact .header-menu .header-menu-trigger {
    margin-top: 0;
  }
}
@media (min-width: 1280px) {
  .compact .header-menu {
    --header-title-size: var(--font-size-scale-up-02);
  }
}
[data-sticky] {
  position: sticky;
  top: 0;
  transition: all 150ms ease;
  z-index: var(--header-sticky-z-index);
}
[data-sticky] .header-logo img,
[data-sticky] .header-actions,
[data-sticky] .header-menu-trigger,
[data-sticky] .header-title {
  transition: all 150ms ease;
}
[data-sticky] .header-logo img {
  margin-right: var(--spacing-scale-base);
}

/*# sourceMappingURL=header.css.map*/
</style>
