<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template #actionFunction>
  <br-item class="align-items-center">
    <br-button circle density="small" :label="text">
      <font-awesome-icon
        :icon="icon"
        size="1X"
        aria-hidden="true"
        :class="{ 'mr-1': circle ? false : true }"
      />
      <!-- <span class="text" v-if="text">{{ text }}</span> -->
    </br-button>
  </br-item>
</template>
<script>
import FontAwesomeIcon from "../../font-awesome-share";
import BrButton from "../Button/Button.ce.vue";
import BrItem from "../Item/Item.ce.vue";

export default {
  name: "HeaderActionFunction",
  components: {
    FontAwesomeIcon,
    BrButton,
    BrItem,
  },
  props: {
    /**
     * **[Opcional]** O ajuste da densidade consiste em aumentar ou reduzir os espaçamentos internos do botão de forma a deixá-los mais compactos ou mais expandidos em seu formato. **[ large | middle | small ]**
     */
    density: {
      type: String,
      default: "small",
      validator: function (value) {
        return ["large", "middle", "small"].includes(value);
      },
    },
    /**
     * **[Opcional]** Usado quando houver uma necessidade de enfatizar visualmente a ideia da ação. **Nos botões do tipo circular a utilização é obrigatória, visto que a mensagem da ação é transmitida apenas pelo ícone.
     */
    icon: {
      type: [String],
      validator: function (value) {
        return value.length > 0;
      },
    },
    /**
     * **[Opcional]** Texto que será apresentado para definir o botão quando houver redimensionamento para telas menores.
     */
    text: {
      type: [String],
      validator: function (value) {
        return value.length > 0;
      },
    },
  },
};
</script>
<style lang="scss">
@import "~@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/components/button/_button";

.br-item {
  --item-padding-x: var(--spacing-scale-base);
  margin-right: var(--spacing-scale-base);
}
</style>
