<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template #headerSearch>
  <div class="header-search" :class="{ active: isActive }">
    <div class="br-input has-icon">
      <br-input
        class="has-icon"
        :label="label"
        :placeholder="placeholder"
        :id="id"
      ></br-input>
      <br-button circle density="small" aria-label="Pesquisar">
        <font-awesome-icon icon="search" aria-hidden="true" />
      </br-button>
    </div>
    <template v-if="isActive">
      <br-button
        circle
        class="search-close ml-1"
        aria-label="Fechar Busca"
        data-dismiss="search"
        icon="times"
        @click="closeInputSearch()"
      >
      </br-button>
    </template>
  </div>
</template>

<script>
import FontAwesomeIcon from "../../font-awesome-share";
import BrInput from "../Input/Input.ce.vue";
import BrButton from "../Button/Button.ce.vue";

export default {
  name: "HeaderActionSearch",
  components: {
    FontAwesomeIcon,
    BrButton,
    BrInput,
  },
  props: {
    /**
     * **[OPCIONAL]** PROPRIEDADE HERDADA DO INPUT: Indicando que tipo de informação deverá ser digitada no Campo de Texto.
     */
    label: {
      type: [String, Number],
      validator: function (value) {
        return value.length > 0;
      },
      default: "Texto da pesquisa",
    },
    /**
     * **[OPCIONAL]** PROPRIEDADE HERDADA DO INPUT: Tem a função de auxiliar o usuário em como preencher os dados solicitados. Obrigatoriamente deverá trazer uma informação mais completa que a contida no Rótulo/Label.
     */
    placeholder: {
      type: String,
      validator: function (value) {
        return value.length > 0;
      },
      default: "O que você procura?",
    },
    /**
     * **[OPCIONAL]** Recomenda-se a inclusão do atributo **id** no input, responsável também pela inclusão automática do atributo **for** do label (importante para especificar a qual elemento do formulário o label está vinculado).
     */
    id: {
      type: [String],
      validator: function (value) {
        return value.length > 0;
      },
      default: "searchbox-91098",
    },
  },
  data() {
    return {
      isActive: true,
    };
  },
  methods: {
    closeInputSearch() {
      this.isActive = false;
    },
  },
};
</script>
<style lang="scss">
@import "~@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/input/_input";
@import "~@govbr/dsgov/src/components/button/_button";
@import "~@govbr/dsgov/src/components/header/_header";

:host {
  @include header-search;
}
</style>
