<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <header class="br-header">
    <div class="container-lg">
      <div class="header-top">
        <div class="header-logo">
          <img v-if="image" :src="image" alt="logo" />
          <span
            v-if="signature && image"
            class="br-divider vertical mx-half mx-sm-1"
          >
          </span>
          <div v-if="signature" class="header-sign">{{ signature }}</div>
        </div>
        <slot name="headerAction"></slot>
      </div>
      <div class="header-bottom">
        <div class="header-menu">
          <div class="header-menu-trigger">
            <slot name="headerMenu">
              <br-button
                circle
                density="small"
                aria-label="Menu"
                data-toggle="menu"
                data-target="#main-navigation"
                id="navigation"
              >
                <font-awesome-icon icon="bars" aria-hidden="true" />
              </br-button>
            </slot>
          </div>
          <div class="header-info">
            <div v-if="title" class="header-title">{{ title }}</div>
            <div v-if="subtitle" class="header-subtitle">
              {{ subtitle }}
            </div>
          </div>
        </div>
        <div class="header-search" :class="{ active: isActive }">
          <slot name="headerSearch"></slot>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import FontAwesomeIcon from "../../font-awesome-share";
import BrButton from "../Button/Button.ce.vue";

export default {
  name: "Header",
  components: {
    BrButton,
    FontAwesomeIcon,
  },
  props: {
    /**
     * **[OPCIONAL]** O tipo Compacto é mais utilizado quando as informações a serem exibidas forem mais sucintas ou seja necessário dar mais espaço visível à área de conteúdo.
     */
    compact: {
      default: false,
      type: Boolean,
    },
    /**
     * **[Opcional]** A assinatura serve para identificar uma subcategoria ou descrição relacionada à marca. Descreve uma categoria superior ao título do cabeçalho. Fica localizada ao lado da logo/marca.
     */
    signature: {
      type: String,
      validator: function (value) {
        return value.length > 0;
      },
    },
    /**
     * **[Obrigatório]** Apesar do Logo ser um elemento opcional no Header, o src é um atributo obrigatório que aponta para o endereço do arquivo de imagem.
     */
    image: {
      type: String,
      validator: function (value) {
        return value.length > 0;
      },
    },
    /**
     * **[Opcional]** Tamanhos para a logo. Padrão é o medium **[ large | medium | small]**.
     */
    density: {
      default: "large",
      type: String,
      validator: function (value) {
        return ["large", "medium", "small"].includes(value);
      },
    },
    /**
     * **[Obrigatório]** Título que identifica o site, sistema ou aplicativo. Em alguns dispositivos (como celulares), o título pode identificar a página atual. É possível utilizar um texto ou outro elemento para substituí-lo.
     */
    title: {
      type: String,
      validator: function (value) {
        return value.length > 0;
      },
      required: true,
    },
    /**
     * **[Opcional]** Serve para reforçar a identificação de uma categoria associada ao título da página, ou descrição do mesmo. Fica localizado logo abaixo do título principal do cabeçalho.
     */
    subtitle: {
      type: String,
      validator: function (value) {
        return value.length > 0;
      },
    },
  },
  computed: {
    checkDensityClass() {
      // `this` points to the vm instance
      return {
        large: this.density === "large",
        medium: this.density === "medium",
        small: this.density === "small",
      };
    },
  },
  provide() {
    return {
      isSearch: this.hasSlot("headerSearch"),
      isHeaderAction: this.hasSlot("headerAction"),
    };
  },
  data() {
    return {
      isActive: false,
      slots: [],
    };
  },
  mounted() {
    const shadowRoot = this.$el.parentNode;
    shadowRoot.addEventListener("slotchange", (event) => {
      this.slots.push(event.target.name);
      console.log(this.slots);
    });
  },
  methods: {
    hasSlot(slot) {
      console.log(slot, this.$slots[slot]);
      return !!this.$slots[slot];
    },

    hasSearchSlot(headerSearch) {
      return this.hasSlot(headerSearch);
    },

    openInputSearch(open) {
      this.isActive = open;
    },
  },
};
</script>
<style lang="scss">
@import "~@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/header/_header";
// Dependencias
@import "~@govbr/dsgov/src/components/button/_button";
@import "~@govbr/dsgov/src/components/divider/_divider";
</style>
