<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template #logo>
  <img
    v-bind="$attrs"
    v-if="src"
    :src="src"
    alt="logo"
    class="br-header-img"
    :class="[
      {
        large: density === 'large',
        medium: density === 'medium',
        small: density === 'small',
      },
    ]"
  />
  <div class="d-flex">
    <span
      v-bind="$attrs"
      v-if="signature && src"
      class="br-divider vertical mx-half mx-sm-1"
    ></span>
    <div v-if="signature" class="sign">{{ signature }}</div>
  </div>
</template>
<script>
//import BrDivider from "../Divider/Divider.ce.vue";
export default {
  name: "HeaderLogo",
  components: {
    //BrDivider,
  },
  props: {
    /**
     * **[Opcional]** A assinatura serve para identificar uma subcategoria ou descrição relacionada à marca. Descreve uma categoria superior ao título do cabeçalho. Fica localizada ao lado da logo/marca.
     */
    signature: {
      type: String,
      validator: function (value) {
        return value.length > 0;
      },
    },
    /**
     * **[Obrigatório]** Apesar do Logo ser um elemento opcional no Header, o src é um atributo obrigatório que aponta para o endereço do arquivo de imagem.
     */
    src: {
      type: String,
      validator: function (value) {
        return value.length > 0;
      },
    },
    /**
     * **[Opcional]** Tamanhos para a logo. Padrão é o medium **[ large | medium | small]**.
     */
    density: {
      default: "medium",
      type: String,
      validator: function (value) {
        return ["large", "medium", "small"].includes(value);
      },
    },
  },
};
</script>
<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/header/_header";

.br-header-img {
  margin-right: var(--spacing-scale-base);
  max-height: var(--header-logo-size);
}

.br-header-img {
  margin-right: var(--spacing-scale-base);
  max-height: var(--header-logo-size);
}

.header-top,
.header-bottom {
  display: flex;
}
.header-top {
  justify-content: flex-end;
}
.header-bottom {
  justify-content: space-between;
  margin-top: var(--header-padding-small);
}

.br-header.small {
  --header-padding: var(--header-padding-small);
}
.br-header.medium {
  --header-padding: var(--header-padding-medium);
}
.br-header.large {
  --header-padding: var(--header-padding-large);
}
.header-logo {
  align-items: center;
  display: flex;
  flex: 1;
  float: left;
}
.header-logo img {
  margin-right: var(--spacing-scale-base);
  max-height: var(--header-logo-size);
}
.header-logo .br-divider {
  display: none;
}
.header-logo .header-sign {
  color: var(--header-sign-color);
  display: none;
  font-weight: 500;
  overflow: hidden;
}
.br-header[data-no-logo] .header-logo img {
  display: none;
}
.br-header[data-no-sign] .header-logo .header-sign {
  display: none;
}
@media (min-width: 576px) {
  .header-logo {
    --header-logo-size: var(--header-logo-large);
    margin: 0;
  }
  .header-logo .br-divider {
    display: block;
  }
  .header-logo .header-sign {
    box-orient: vertical;
    display: box;
    display: block;
    -webkit-line-clamp: 2;
  }
}
.header-actions {
  --focus-offset: calc(var(--spacing-scale-half) * -1);
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.header-actions .dropdown.show .br-list {
  display: block;
  z-index: var(--z-index-layer-1);
}
.header-actions .dropdown.show .br-button.active .svg-inline--fa,
.header-actions .dropdown.show .br-button.active .fa,
.header-actions .dropdown.show .br-button.active .fab,
.header-actions .dropdown.show .br-button.active .fad,
.header-actions .dropdown.show .br-button.active .fal,
.header-actions .dropdown.show .br-button.active .far,
.header-actions .dropdown.show .br-button.active .fas {
  transform: rotate(180deg);
}
.header-actions .dropdown.show .br-notification {
  display: block;
  right: -16px;
  width: 100vw;
  z-index: var(--z-index-layer-1);
}
.header-actions .dropdown:not(.show) .br-notification {
  display: none;
}
.header-actions .header-links,
.header-actions .header-functions {
  --focus-offset: calc(var(--spacing-scale-half) * -1);
}
.header-actions .header-links .br-list,
.header-actions .header-functions .br-list {
  background: var(--header-background);
  left: -4em;
}
.header-actions .header-links .br-list .br-item,
.header-actions .header-functions .br-list .br-item {
  white-space: nowrap;
}
.header-actions .header-links ul,
.header-actions .header-functions ul {
  display: none;
}
.header-actions .header-functions .br-list .br-item {
  padding: 0;
}
.header-actions .header-functions .br-list .br-button {
  --button-size: auto;
  --button-font-size: var(--font-size-scale-base);
  --button-font-weight: var(--font-weight-regular);
  border-radius: 0;
  justify-content: flex-start;
  padding: var(--spacing-scale-base) var(--spacing-scale-2x);
  width: 100%;
}
.header-actions .header-functions .br-list .br-button .text {
  margin-left: var(--spacing-scale-2x);
}
.header-actions .header-functions ul {
  display: none;
}
.header-actions .header-login {
  --focus-offset: 0;
  margin-left: var(--spacing-scale-base);
}
.header-actions .sign-in {
  --button-padding: 0 var(--spacing-scale-2x);
}
.header-actions .avatar {
  align-items: center;
  display: flex;
}
.header-actions .avatar .br-list {
  min-width: 200px;
  right: 0;
  top: 100%;
}
.br-header[data-no-links] .header-actions .header-links {
  display: none;
}
.br-header[data-no-functions] .header-actions .header-functions {
  display: none;
}
.br-header[data-no-login] .header-actions .header-login {
  display: none;
}
@media (min-width: 576px) {
  .header-actions .header-links .br-list,
  .header-actions .header-functions .br-list {
    background: var(--header-background);
    left: auto;
    right: 0;
  }
  .header-actions .header-links .br-notification,
  .header-actions .header-functions .br-notification {
    width: 100vw;
  }
}
@media (min-width: 1280px) {
  .header-actions .header-links [data-toggle="dropdown"],
  .header-actions .header-functions [data-toggle="dropdown"] {
    display: none;
  }
  .header-actions .header-links .br-list,
  .header-actions .header-functions .br-list {
    box-shadow: none;
    display: flex;
    position: static;
  }
  .header-actions .header-links .br-list .header,
  .header-actions .header-functions .br-list .header {
    display: none;
  }
  .header-actions .header-links .br-list .br-item,
  .header-actions .header-functions .br-list .br-item {
    --item-padding-x: var(--spacing-scale-base);
    margin-right: var(--spacing-scale-base);
  }
  .header-actions .header-links .br-list .br-notification,
  .header-actions .header-functions .br-list .br-notification {
    width: 50vw;
  }
  .header-actions .header-functions .br-list .br-button {
    --button-size: var(--button-small);
    border-radius: 50%;
    justify-content: center;
    padding: 0;
    width: var(--button-size);
  }
  .header-actions .header-functions .br-list .br-button .text {
    display: none;
  }
  .header-actions .header-search-trigger {
    display: none;
  }
}
.header-menu {
  align-items: center;
  display: flex;
  flex: 1;
}
.header-menu .header-menu-trigger + .header-info {
  margin-left: var(--spacing-scale-2x);
}
.header-menu .header-title {
  box-orient: vertical;
  color: var(--header-title-color);
  display: box;
  font-size: var(--header-title-size);
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.header-menu .header-subtitle {
  color: var(--header-subtitle-color);
  display: none;
  font-size: var(--header-subtitle-size);
  font-weight: 500;
  margin-top: var(--spacing-scale-half);
}
.br-header[data-no-subtitle] .header-menu .header-subtitle {
  display: none;
}
@media (min-width: 576px) {
  .header-menu {
    --header-title-size: var(--font-size-scale-up-02);
    align-items: flex-start;
  }
  .header-menu .header-menu-trigger {
    margin-top: 3px;
  }
  .header-menu .header-info {
    padding-top: var(--spacing-scale-half);
  }
  .header-menu .header-subtitle {
    display: block;
  }
}
@media (min-width: 1280px) {
  .header-menu {
    --header-title-size: var(--font-size-scale-up-03);
    --header-subtitle-size: var(--font-size-scale-base);
  }
  .header-menu .header-info {
    padding-top: 0;
  }
}
.header-search,
.br-header.compact .header-search {
  align-items: center;
  background: var(--header-background);
  bottom: 0;
  display: none;
  left: 0;
  padding: 0 var(--spacing-scale-2x);
  position: absolute;
  right: 0;
  top: 0;
}
.header-search .br-input,
.br-header.compact .header-search .br-input {
  align-items: center;
  display: flex;
  flex: 1;
}
.header-search .br-input label,
.br-header.compact .header-search .br-input label {
  display: none;
}
.header-search .br-input input,
.br-header.compact .header-search .br-input input {
  border-color: transparent;
}
.header-search .br-input input:not(:focus),
.br-header.compact .header-search .br-input input:not(:focus) {
  background: var(--color-secondary-02);
}
.header-search .br-input .icon,
.header-search .br-input .br-button,
.br-header.compact .header-search .br-input .icon,
.br-header.compact .header-search .br-input .br-button {
  --focus-offset: 0;
  bottom: auto;
  right: 4px;
  top: auto;
}
.header-search .search-close,
.br-header.compact .header-search .search-close {
  --focus-offset: calc(var(--spacing-scale-half) * -1);
  display: none;
}
.header-search.active,
.br-header.compact .header-search.active {
  display: flex;
}
.header-search.active .search-close,
.br-header.compact .header-search.active .search-close {
  display: inline-flex;
}
.br-header[data-no-search] .header-search {
  display: none;
}
@media (min-width: 1280px) {
  .header-search {
    display: flex;
    padding: 0;
    position: static;
  }
  .header-search.active .search-close {
    display: none;
  }
}
.br-input.has-icon .br-button.circle {
  margin-top: 0;
  right: 4px;
  position: absolute;
}
.br-header.compact {
  --header-logo-size: var(--header-logo-small);
  --header-padding: var(--header-padding-small);
}
.br-header.compact .header-actions .header-search-trigger {
  display: block;
}
@media (min-width: 576px) {
  .br-header.compact .container-lg {
    position: relative;
  }
  .br-header.compact .header-top {
    display: block;
  }
  .br-header.compact .header-logo {
    --header-logo-size: var(--header-logo-small);
    float: left;
  }
  .br-header.compact .header-logo .br-divider {
    display: none;
  }
  .br-header.compact .header-sign {
    display: none;
  }
  .br-header.compact .header-actions {
    float: right;
    margin-top: var(--spacing-scale-2x);
    position: relative;
  }
  .br-header.compact .header-bottom {
    clear: left;
  }
  .br-header.compact .header-menu {
    --header-title-size: var(--font-size-scale-up-01);
  }
  .br-header.compact .header-menu .header-menu-trigger {
    margin-top: 0;
  }
}
@media (min-width: 1280px) {
  .br-header.compact .header-menu {
    --header-title-size: var(--font-size-scale-up-02);
  }
}
.br-header[data-sticky] {
  position: sticky;
  top: 0;
  transition: all 150ms ease;
  z-index: var(--header-sticky-z-index);
}
.br-header[data-sticky] .header-logo img,
.br-header[data-sticky] .header-actions,
.br-header[data-sticky] .header-menu-trigger,
.br-header[data-sticky] .header-title {
  transition: all 150ms ease;
}
.br-header[data-sticky] .header-logo img {
  margin-right: var(--spacing-scale-base);
}
</style>
