<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template #actionLogin>
  <div class="header-login">
    <div
      v-if="isLogin"
      class="header-sign-in"
      :class="[isLogin ? '' : 'd-none']"
    >
      <br-button
        class="sign-in"
        density="small"
        data-trigger="login"
        @click="isLogin = false"
        :label="label"
      >
        <font-awesome-icon icon="user" aria-hidden="true" />
        <span class="d-sm-inline">Entrar</span>
      </br-button>
    </div>
    <div
      v-if="!isLogin"
      class="header-avatar"
      :class="[!isLogin ? '' : 'd-none']"
    >
      <div class="avatar dropdown" :class="{ show: show }">
        <br-avatar :image="image" :name="name"></br-avatar>
        <br-button
          class="br-button circle small"
          :class="{ active: show }"
          type="button"
          aria-label="Abrir Menu de usuário"
          data-toggle="dropdown"
          @click="show = !show"
        >
          <font-awesome-icon icon="angle-down" aria-hidden="true" />
        </br-button>
        <slot v-if="show" />
      </div>
    </div>
  </div>
</template>

<script>
import FontAwesomeIcon from "../../font-awesome-share";
import BrButton from "../Button/Button.ce.vue";
import BrAvatar from "../Avatar/Avatar.ce.vue";

export default {
  name: "HeaderSignin",
  components: {
    BrButton,
    BrAvatar,
    FontAwesomeIcon,
  },
  props: {
    /**
     * **[Opcional]** Texto para o botão de sign-in, para fins de acessibilidade (padrão: 'Entrar').
     */
    label: {
      type: String,
      validator: function (value) {
        return value.length > 0;
      },
    },
    /**
     * **[Opcional]** PROPRIEDADE HERDADA DO AVATAR: Nome do usário que será apresentado no avatar pela letra
     */
    name: {
      type: String,
      validator: function (val) {
        return val.trim().length > 1;
      },
    },
    /**
     * **[Opcional]** PROPRIEDADE HERDADA DO AVATAR: Se informado define que o avatar apresentado será do tipo fotográfico
     */
    image: {
      type: String,
      validator: function (val) {
        return val.match(/^https?:\/\/[\w\d/.]*/g);
      },
    },
    /**
     * **[Opcional]** PROPRIEDADE HERDADA DO AVATAR: Se informado define que o avatar apresentado será do tipo ícone
     */
    iconic: {
      type: Boolean,
    },
  },
  data() {
    return {
      isLogin: true,
      show: false,
    };
  },
};
</script>
<style lang="scss">
@import "~@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/button/_button";
@import "~@govbr/dsgov/src/components/avatar/_avatar";
@import "~@govbr/dsgov/src/components/tab/_tab";
@import "~@govbr/dsgov/src/components/item/_item";
</style>
