<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <a :href="href">
    <img
      class="ml-4 logo-footer-ajuste"
      :src="src"
      :alt="alt"
      :style="inverted ? 'filter: invert(1)' : null"
    />
  </a>
</template>

<script>
export default {
  name: "br-footer-image",
  props: {
    inverted: {
      type: Boolean,
      default: false,
    },
    src: {
      type: String,
    },
    href: {
      type: String,
    },
    alt: {
      type: String,
    },
  },
};
</script>

<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/footer/_footer";

.logo-footer-ajuste {
  max-height: 46px;
  max-width: 180px;
}
</style>
