<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div class="br-checkbox" :class="checkClass">
    <input
      v-bind="$attrs"
      type="checkbox"
      :id="id"
      :disabled="disabled"
      :aria-label="ariaLabel"
      :name="name"
      :value="value"
      :indeterminate="indeterminate"
      v-model="proxyChecked"
    />
    <label :for="id">{{ label }}</label>
  </div>
</template>

<script>
export default {
  name: "Checkbox",
  model: {
    prop: "checked",
    event: "change",
  },
  props: {
    /** **[Obrigatório]** Identificador único do checkbox. Também é responsável por incluir automaticamente o **for do label**.*/
    id: {
      type: [String],
      validator: function (value) {
        return value.length > 0;
      },
    },
    /** **[Opcional]** Texto descritivo, localizado sempre à direita da caixa de opção.*/
    label: {
      type: String,
      validator: function (value) {
        return value.length > 0;
      },
    },
    /** **[Opcional]** Desabilita o checkbox. */
    disabled: {
      type: Boolean,
      default: false,
    },
    /** **[Opcional]** Estado indicativo de que a opção é válida.  */
    valid: {
      type: Boolean,
      default: false,
    },
    /** **[Opcional]** Este é o estado indicativo de que uma opção não é válida. */
    invalid: {
      type: Boolean,
      default: false,
    },
    /** **[Opcional]** Formata o componente para versão horizontal. */
    inline: {
      type: Boolean,
      default: false,
    },
    /** **[Opcional]** Acessibilidade: define uma cadeia de caracteres para descrever o elemento. */
    ariaLabel: {
      type: String,
      validator: function (value) {
        return value.length > 0;
      },
    },
    name: {
      type: String,
      default: null,
    },
    /** Estado checked. */
    checked: {
      default: false,
      type: [Array, Boolean],
    },
    /** **[Opcional]** Ativa a aparência indeterminada da caixa de seleção. */
    indeterminate: {
      type: Boolean,
      default: false,
    },
    /** O valor da caixa de seleção */
    value: {
      default: null,
    },
  },
  computed: {
    checkClass() {
      // `this` points to the vm instance
      return {
        invalid: this.invalid ? "invalid" : "",
        valid: this.valid ? "valid" : "",
        "d-inline": this.inline ? "inline" : "",
        disabled: this.disabled ? "disabled" : "",
      };
    },
    proxyChecked: {
      get() {
        return this.checked;
      },
      set(val) {
        if (!this.indeterminate) this.$emit("change", val);
      },
    },
  },
};
</script>

<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/checkbox/_checkbox";
@import "~@govbr/dsgov/src/components/input/_input";
</style>
