<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <footer class="br-footer" :class="{ inverted: inverted }">
    <div class="container-lg">
      <slot name="logo"></slot>
      <slot name="categorias"></slot>
      <div class="d-none d-sm-block">
        <div class="row align-items-end justify-content-between py-5">
          <slot name="redesSociais"></slot>
          <div class="col assigns text-right" inverted>
            <slot name="footerImagens"></slot>
          </div>
        </div>
      </div>
    </div>
    <span class="br-divider my-3"></span>
    <div class="container-lg">
      <div class="info">
        <div class="text-down-01 text-extra-bold pb-3 text-center">
          {{ text }}
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "br-footer",
  props: {
    inverted: {
      type: Boolean,
      default: false,
    },
    text: {
      type: String,
    },
    centered: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/list/_list";
@import "~@govbr/dsgov/src/components/item/_item";
@import "~@govbr/dsgov/src/components/divider/_divider";
@import "~@govbr/dsgov/src/components/footer/_footer";
</style>
