<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div
    class="br-tooltip"
    role="tooltip"
    :success="success ? true : undefined"
    :info="info ? true : undefined"
    :warning="warning ? true : undefined"
    :error="error ? true : undefined"
    :popover="popover ? true : undefined"
    :place="place"
    :active="active ? true : undefined"
    :timer="timer"
  >
    <div v-if="popover">
      <slot name="header"></slot>
      <slot name="body"></slot>
      <slot name="footer"></slot>
      <br-button class="close" density="small">
        <font-awesome-icon icon="times" size="sm" aria-hidden="true" />
      </br-button>
    </div>
    <template v-else>
      {{ text }}
    </template>
  </div>
</template>

<script>
import BRTooltip from "./BRTooltip";
import BrButton from "../Button/Button.ce";
import FontAwesomeIcon from "../../font-awesome-share";

const Tooltip = {
  name: "br-tooltip",
  components: {
    BrButton,
    FontAwesomeIcon,
  },
  props: {
    /** Texto principal a ser exibido */
    text: {
      type: String,
    },
    /** Estado Sucesso */
    success: {
      type: Boolean,
    },
    /** Estado Informativo */
    info: {
      type: Boolean,
    },
    /** Estado Alerta */
    warning: {
      type: Boolean,
    },
    /** Estado Erro */
    error: {
      type: Boolean,
    },
    /** Define que o componente deve se comportar como popover */
    popover: {
      type: Boolean,
    },
    /** Determina após quantos milisegundos o tooltip deve ser automaticamente ocultado */
    timer: {
      type: [String, Number],
    },
    /** Define o posicionamento do tooltip (top, bottom, left, right) */
    place: {
      type: String,
    },
    /** Pode ser definido quando se deseja que o tooltip apareça no inicio do carregamento */
    active: {
      type: Boolean,
    },
    activatorId: {
      type: String,
      validator: function (val) {
        return val.trim().length > 1;
      },
    },
  },
  mounted() {
    if (!this.$props.activatorId) {
      console.error("activatorId é obrigatório");
    } else {
      this.instance = new BRTooltip(
        "br-tooltip",
        this.$el,
        document.getElementById(this.$props.activatorId)
      );
    }
  },
};

export default Tooltip;
</script>

<style lang="scss">
@import "@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/components/tooltip/_tooltip";
</style>
