<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template lang="html">
  <div
    class="br-tab"
    :class="[
      {
        small: density === 'small',
        medium: density === 'medium',
        large: density === 'large',
        inverted: inverted,
      },
    ]"
    :data-counter="dataCounter"
  >
    <nav class="tab-nav" :aria-label="label">
      <ul>
        <li v-if="dataCounter" class="tab-item" not-tab="true">
          <span class="name">Refine a sua busca</span>
          <p class="outcome">
            Resultados<span>124 - {{ dataCounter }}</span>
          </p>
        </li>
        <li
          v-for="(tab, index) in tabs"
          :key="tab.title"
          @click="selectTab(index)"
          class="tab-item"
          :class="{ 'is-active': index == selectedIndex }"
        >
          <template v-if="!tab.icon">
            <button
              type="button"
              :data-panel="tab.id"
              :aria-label="tab.id"
              @click="$emit('onTabItemClick', tab)"
            >
              <span
                class="name"
                :style="{
                  fontSize: parseInt(tabNavFontSize)
                    ? parseInt(tabNavFontSize) + 'px'
                    : tabNavFontSize,
                }"
              >
                {{ tab.title }}
              </span>
            </button>
          </template>

          <template v-if="tab.icon">
            <button type="button" :data-panel="tab.id" :aria-label="tab.id">
              <span class="name">
                <span class="row align-items-center">
                  <span class="d-flex flex-column flex-sm-row">
                    <span class="icon mb-1 mb-sm-0 mr-sm-1">
                      <font-awesome-icon
                        :icon="tab.icon"
                        aria-hidden="true"
                        size="sm"
                      />
                    </span>
                  </span>
                  <span class="col">{{ tab.title }}</span>
                </span>
              </span>
            </button>
          </template>

          <span v-if="dataCounter" class="results">( {{ tab.results }} )</span>
        </li>
      </ul>
    </nav>
    <div class="tab-content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import FontAwesomeIcon from "../../font-awesome-share";
export default {
  name: "BrTab",
  components: {
    FontAwesomeIcon,
  },
  props: {
    /** Aria label para descrição da tabela */
    label: {
      type: String,
      default: "Abas de Navegação Simples",
    },
    /** Tipo das densidades do tab as opções válidas são "small", "medium" e "large" */
    density: {
      default: "small",
      type: String,
      validator: function (value) {
        return ["small", "medium", "large"].includes(value);
      },
    },
    /** Utilizado quando o background possui cores escuras. */
    inverted: {
      type: Boolean,
      default: false,
    },
    /** [OPCIONAL] Tamanho da fonte em pixels para os títulos das abas */
    tabNavFontSize: {
      type: [String, Number],
      default: "var(--tab-font-size)",
    },
  },
  data() {
    return {
      tabs: [],
      selectedIndex: 0,
      dataCounter: false,
    };
  },
  created() {
    this.tabs = this.$children;
  },
  provide() {
    return {
      parentTab: this,
    };
  },
  mounted() {
    this.$nextTick(function () {
      this.selectTab(0);
    });
  },
  methods: {
    selectTab(i) {
      this.selectedIndex = i;

      this.tabs.forEach((tab, index) => {
        tab.setActive(index === i);
      });
    },
    addTabItem(tabItem) {
      if (!this.tabs) {
        this.tabs = [];
      }
      this.tabs.push(tabItem);
    },
  },
};
</script>

<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/tab/_tab";
@import "@fortawesome/fontawesome-svg-core/styles";

.br-tab .tab-content .tab-panel {
  color: var(--text-color);
}
</style>
