<!-- 
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template lang="html">
  <div
    class="tab-panel"
    :id="id"
    v-show="active"
    :class="{ 'is-active': active }"
  >
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "BrTabItem",
  props: {
    /** Título da aba */
    title: {
      type: String,
      default: "Sobre",
    },
    /** Identificador da aba */
    id: {
      type: String,
      default: "",
    },
    /** Ícone que é mostrado na aba */
    icon: {
      type: String,
      default: "",
    },
    /**
     * **[OPCIONAL]** Define se a aba está ativa/aberta.
     * */
    isActive: {
      type: Boolean,
      default: false,
    },
  },
  inject: ["parentTab"],
  mounted() {
    this.parentTab.addTabItem(this);
  },
  data() {
    return {
      active: this.isActive,
    };
  },
  methods: {
    setActive(active) {
      this.active = active;
    },
  },
};
</script>

<style lang="scss">
@import "~@govbr/dsgov/src/components/tab/_tab";
</style>
