/*
This file is part of DSGOV.BR - Webcomponents.

DSGOV.BR - Webcomponents is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Webcomponents is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Webcomponents.  If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 */
.br-breadcrumb {
  display: inline-grid;
  position: relative;
  // Página inicial
  .crumb-list {
    align-items: center;
    border: none;
    display: flex;
    list-style: none;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
  }

  .br-card {
    left: v(spacing-scale-9x);
    position: absolute;
    top: v(spacing-scale-7x);
    width: fit-content;
    z-index: var(--z-index-layer-1);

    .front {
      .content {
        padding: 0;

        .br-list {
          .br-item {
            cursor: pointer;

            a {
              display: inline-block;
              max-width: 180px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            @include hover;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(xs) {
    .crumb-list .menu-mobil > {
      .icon {
        display: none;
      }
    }

    .br-card {
      left: v(spacing-scale-base);
    }
  }

  @include media-breakpoint-down(sm) {
    .crumb-list .crumb a {
      display: block;
      max-width: 180px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .crumb-list .crumb.menu-mobil,
    .crumb-list .crumb.menu-mobil + .crumb,
    .crumb-list .crumb.home + .crumb {
      display: flex;
    }
  }
}

// Cada item
.crumb {
  align-items: center;
  display: flex;
  height: v(spacing-scale-5x);
  margin: auto 0 auto -5px;

  .icon {
    color: v(color-secondary-04);
    font-size: v(icon-size-sm);

    &.fas.fa-chevron-right {
      margin-right: -6px;
    }
  }

  a {
    cursor: pointer;
    font-size: v(font-size-scale-down-01);
    font-weight: v(font-weight-medium);
    max-width: 180px;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include hover;
  }

  &.home,
  &.menu-mobil {
    --focus-offset: calc(var(--spacing-scale-half) * -1);
    align-items: center;
    display: flex;
    margin-left: 0;
    margin-right: -3px;

    .icon {
      color: var(--interactive);
      position: static;

      &.fas.fa-chevron-right {
        color: var(--color-secondary-04);
        margin-right: -8px;
      }
    }
  }
  // Item ativo
  &[data-active="active"] {
    span {
      color: v(color-secondary-08);
      cursor: default;
      font-size: v(font-size-scale-down-01);
      font-weight: v(font-weight-medium);
      white-space: nowrap;
    }
  }
}

span {
  color: v(color-secondary-08);
  cursor: default;
  font-size: v(font-size-scale-down-01);
  font-weight: v(font-weight-medium);
  white-space: nowrap;
}
